body{
    font-family: Arial, Helvetica, sans-serif;
}
.checkbox{
	border-radius: 3px;
	border-color: silver;
	border-style: solid;
	border-width: thin;
	text-align: left;
	font-size: 15px;
	width: auto;
}
div.toolbox{
	right: 0px;
	width: 30%;
	border-radius: 5px;
	border-color: silver;
	border-style: solid;
	border-width: thin;
	padding: 5px;
	position: fixed;
	margin-right: 2px;

}
div.imageview{
	left: 25%;
	width: 40%;
	border-radius: 5px;
	border-color: silver;
	border-style: solid;
	border-width: thin;
	padding: 5px;
  position:absolute;
}

div.filelist{
	left: 0px;
	width: 20%;
	max-height: 85%;
	border-radius: 5px;
	border-color: silver;
	border-style: solid;
	border-width: thin;
	padding: 5px;
	position: fixed;
	margin-left: 2px;
	overflow: auto;

}

div.annotation{
   border-radius: 5px;
   border-color: silver;
   border-style: solid;
   border-width: thin;
   padding: 5px;
   margin-top: 5px;

}

#additional_feature_table{
	width: 90%;

}
div.head{
	border-bottom-color: silver;
	border-bottom-width: medium;
	border-bottom-style: solid;
	margin: 5px;
	padding: 4px;
}

a.navbar{
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    color: black;
    font-size : medium;
}
