{% extends 'images/base.html' %}
{% block bodyblock %}
<div class="centerblock">
<h1>Login</h1>
<form class="login" method="POST" action="/login/">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" class="logBut" value="Log in"/>
</form>
<hr>
<h2>Create a new user</h2>
<form action="{% url 'images_createuserview' %}" method="post">
    {% csrf_token %}
    <label for="username">Username: </label>
    <input type="text" id="username" name="username" maxlength="20"><br>
    <label for="password">Password: </label>
    <input type="password" id="password" name="password" maxlength="50"><br>
    <label for="email">E-Mail: </label>
    <input type="text" id="email" name="email"><br>
    <input type="submit" value="Create">

    </form>
</div>
{% endblock %}
