[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=2.2"
django-configurations = "~=2.2"
django-friendly-tag-loader = "~=1.3"
django-registration = "~=3.2"
django-widget-tweaks = "~=1.4"
djangorestframework = "~=3.12"
fasteners = "~=0.16"
fs = "~=2.4"
pillow = "~=8.2"
psycopg2-binary = "~=2.9"

[dev-packages]

[requires]
python_version = "3"
