[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.1"
django-configurations = "~=2.5"
django-friendly-tag-loader = "~=1.3"
django-registration = "~=3.4"
django-widget-tweaks = "~=1.5"
djangorestframework = "~=3.14"
fasteners = "~=0.19"
fs = "~=2.4"
pillow = "~=10.1"
psycopg2-binary = "~=2.9"

[dev-packages]

[requires]
python_version = "3"
