Django>=2.0,<2.1
djangorestframework
django-widget-tweaks
fasteners
Pillow
psycopg2-binary
# Using a fork of django-registration to be compatible with django 2.0
-e git+https://github.com/Akasch/django-registration.git@3fea930a1a0457a246a178e292df2a07c628efed#egg=django-registration
django-friendly-tag-loader
