{% extends 'base/base.html' %}
{% load i18n %}

{% block bodyblock %}
    <form method="POST" action="{% url 'images:setfree_imageset' imageset.id %}">
        {% csrf_token %}
        {% blocktrans with imageset=imageset.name team=imageset.team.name %}
        <p>
            Are you sure that you want to give up ownership of the imageset
            <em>{{ imageset }}</em>
            of the team
            <em>{{ team }}</em>?
            This makes the imageset publicly available and means you lose all rights to manage this imageset.
        </p>
        {% endblocktrans %}
        <a href="{% url 'images:view_imageset' imageset.pk %}" class="btn btn-default">{% trans 'Cancel' %}</a>
        <input type="submit" class="btn btn-danger" value="{% trans 'Set imageset free' %}" />
    </form>
{% endblock bodyblock %}