{% extends 'base/base.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block bodyblock %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">Login</h1>
                </div>
                <div class="panel-body">
                    <form class="login" method="POST" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="login_username">{{ form.username.label }}</label>
                            {% render_field form.username id='login_username' class+='form-control' %}
                            {% for error in form.username.errors %}
                                <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="login_password">{{ form.password.label }}</label>
                            {% render_field form.password id='login_password' class+='form-control' %}
                            {% for error in form.password.errors %}
                                <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
                        {% for error in form.non_field_errors %}
                            <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                        <input type="submit" class="btn btn-primary" name="login" value="Log in"/>
                    </form>
                <a href="{% url 'registration_register' %}">Register a new User</a> - <a href="{% url 'password_reset' %}">Password Reset</a>                </div>
            </div>
        </div>
    </div>
{% endblock bodyblock %}
