{% extends 'base/base.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block bodyblock %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">Reset password</h1>
                </div>
                <div class="panel-body">
                    <form class="login" method="POST" action="">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_password1">{{ form.password1.label }}</label>
                            {% render_field form.password1 class+='form-control' %}
                            {% for error in form.password1.errors %}
                                <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="id_password2">{{ form.password2.label }}</label>
                            {% render_field form.password2 class+='form-control' %}
                            {% for error in form.password2.errors %}
                                <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
                        {% for error in form.non_field_errors %}
                            <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                        <input type="submit" class="btn btn-primary" name="login" value="Log in"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock bodyblock %}
