.content{
  padding-top: 60px;
}
.checkbox{
  border-radius: 3px;
  border-color: silver;
  border-style: solid;
  border-width: thin;
  text-align: left;
  font-size: 15px;
  width: auto;
}
div.wrapper{
  position: relative;
}

#boundingBox{
  position: absolute;
  border:2px solid #ff0000;
  background-color: transparent;
}

#image_list {
  height: 600px;
  overflow-y: scroll;
}

div.annotation{
  border-radius: 5px;
  border-color: silver;
  border-style: solid;
  border-width: thin;
  padding: 5px;
  margin-top: 5px;
}

#additional_feature_table{
  width: 90%;
}

a.bitbot-logo{
  padding-top: 5px;
}

.team-table {
  margin-top: 1em;
}

.team-table td {
  padding: 0 0.3em 0 0;
}

.team-table td:nth-of-type(2), .team-table td:nth-of-type(3) {
  text-align: right;
    width: 10em;
}

.form-inline {
  margin-left: -0.8em;
  display: inline;
}

.align-right {
  text-align: right;
}

.js_feedback {
  position: fixed;
  top: 10em;
  left: 0;
  right: 0;
  width: 50em;
  margin: auto;

  text-align: center;

  z-index: 1000;
}

#image {
  width: 100%;
}

.annotate_image_link {
  display: block;
}

.annotate_image_link.active, .annotate_image_link.active:active,
.annotate_image_link.active:hover {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

#edit_active {
  position: absolute;
  top: 0.7em;
  left: 0;
  right: 0;
  width: 30em;
  height: 3.5em;
  margin: auto;

  z-index: 20000;
}

#edit_active p {
  float: left;
}

#edit_active button {
  float: right;

  margin-top: -0.55em;
}

.bold {
  font-weight: bold;
}

table#coordinate_table tr td:nth-of-type(1) {
  width: 3.5em;
}
