<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title pull-left">
            <h3 style="margin-top: 0.2em">Edit annotation Types</h3>
        </div>
        {% if not creation %}
            <div class="panel-title pull-right">
                <a href="{% url 'administration:create_annotation_type_view' %}"
                   class="glyphicon glyphicon-plus btn btn-default">
                    <span style="font-family: sans-serif">New…</span>
                </a>
            </div>
        {% endif %}
        <div class="clearfix"></div>
    </div>
    <div class="panel-body">
        <ul>
            {% for list_annotation_type in annotation_types %}
                <li>
                    {% if list_annotation_type == annotation_type %}
                        <b>
                            {{ list_annotation_type.name }}
                        </b>
                    {% else %}
                        <a href="{% url "administration:annotation_type" list_annotation_type.id %}">
                            {{ list_annotation_type.name }}
                        </a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>