{% extends 'base/base.html' %}
{% load widget_tweaks %}

{% block bodyblock %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2>Create new annotation type</h2>
            </div>
        </div>
        <div class="row" style="margin-top: 1em">
            <div class="col-md-3">
                {% include "administration/annotation_types_list.html" %}
            </div>
            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Create new annotation type</h3>
                    </div>
                    <div class="panel-body">
                        <form action="{% url "administration:create_annotation_type" %}" method="POST">
                            <table class="table table-striped">
                                <tbody>
                                {% csrf_token %}
                                <tr>
                                    <td>
                                        <label for="id_name">{{ create_form.name.label }}</label>
                                    </td>
                                    <td>
                                        {% render_field create_form.name class+='form-control' %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="id_active">{{ create_form.active.label }}</label>
                                    </td>
                                    <td>
                                        {% render_field create_form.active class+='form-control' %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="id_enable_blurred">{{ create_form.enable_blurred.label }}</label>
                                    </td>
                                    <td>
                                        {% render_field create_form.enable_blurred class+='form-control' %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="id__enable_concealed">{{ create_form.enable_concealed.label }}</label>
                                    </td>
                                    <td>
                                        {% render_field create_form.enable_concealed class+='form-control' %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="id_vector_type">{{ create_form.vector_type.label }}</label>
                                    </td>
                                    <td>
                                        <select name="{{ create_form.vector_type.name }}">
                                            <option value="1" selected>Bounding Box</option>
                                            <option value="2">Point</option>
                                            <option value="3">Line</option>
                                            <option value="4">Multiline</option>
                                            <option value="5">Polygon</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="id_node_count">{{ create_form.node_count.label }} <span
                                                data-toggle="tooltip" data-placement="right"
                                                title="The number of nodes in a polygon. 0 allows an arbitrary node count. This has no effect on other vector types."
                                                class="glyphicon glyphicon-question-sign"></span></label>
                                    </td>
                                    <td>
                                        {% render_field create_form.node_count class+='form-control' %}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <hr>
                            <label for="id_md_description">Description</label>
                            <span data-toggle="tooltip" data-placement="right" title="Support for markdown-language."
                                  class="glyphicon glyphicon-question-sign"></span>
                            <p class="pull-right">
                                {% include 'base/markdown_guide.html' %}
                            </p>
                            {% render_field create_form.md_description class+='form-control' %}
                            <hr>
                            <input class="btn btn-danger pull-left" type="reset" value="Reset">
                            <input class="btn btn-primary pull-right" type="submit" value="Create">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ create_form.media }}
{% endblock %}