{% extends 'base/base.html' %}
{% load widget_tweaks %}


{% block bodyblock %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            {% if annotation_type %}
                <h2>Annotation Type "{{ annotation_type.name }}"</h2>
            {% else %}
                <h2>Annotation Types</h2>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            {% include "administration/annotation_types_list.html" %}
        </div>
        {% if annotation_type %}
            <div class="col-md-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Edit "{{ annotation_type.name }}"</h3>
                    </div>
                    <table class="table table-striped">
                        <tbody>
                            <form action="{% url "administration:edit_annotation_type" annotation_type.id %}" method="POST">
                                {% csrf_token %}
                                <tr>
                                    <td>
                                        <label for="id_name">{{ edit_form.name.label }}</label>
                                    </td>
                                    <td>
                                        {% render_field edit_form.name class+='form-control' %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="id_active">{{ edit_form.active.label }}</label>
                                    </td>
                                    <td>
                                        {% render_field edit_form.active class+='form-control' %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Vector Type</b>
                                    </td>
                                    <td>
                                        {{ vector_type_name }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Node count</b>
                                    </td>
                                    <td>
                                        {{ annotation_type.node_count }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                    </td>
                                    <td align="right">
                                        <input class="btn btn-primary right" type="submit" value="Save">
                                    </td>
                                </tr>

                            </form>
                        </tbody>
                    </table>
                    {% if annotation_type.vector_type == 1 %}
                        <div class="panel-body">
                            Changing the vector type requires a migration of the annotations. <br>
                            <div class="alert alert-danger"> It is a non reversible process. No warranties!</div>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#migrationModal">
                                Migrate
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="migrationModal" tabindex="-1" role="dialog" aria-labelledby="migrationModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="migrationModalLabel">Migrate Annotation Type</h4>
                                        </div>
                                        <div class="modal-body">
                                            You can migrate the Annotation Type to a polygon with ether unlimited or 4 nodes.<br>
                                            Again: <br>
                                            <div class="alert alert-danger"> It is a non reversible process. No warranties!</div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <a class="btn btn-danger" href="{% url 'administration:migrate_bbt0p' annotation_type.id %}">Unlimited Nodes</a>
                                            <a class="btn btn-danger" href="{% url 'administration:migrate_bbt4p' annotation_type.id %}">4 Nodes</a>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-4">
        {% else %}
            <div class="col-md-4 col-md-offset-5">
        {% endif %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Create a new Annotation Type</h3>
                </div>
                <table class="table table-striped">
                    <tbody>
                        <form action="{% url "administration:create_annotation_type" %}" method="POST">
                            {% csrf_token %}
                            <tr>
                                <td>
                                    <label for="id_name">{{ create_form.name.label }}</label>
                                </td>
                                <td>
                                    {% render_field create_form.name class+='form-control' %}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="id_active">{{ create_form.active.label }}</label>
                                </td>
                                <td>
                                    {% render_field create_form.active class+='form-control' %}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="id_vector_type">{{ create_form.vector_type.label }}</label>
                                </td>
                                <td>
                                    <select name="{{ create_form.vector_type.name }}">
                                        <option value="1" selected>Bounding Box</option>
                                        <option value="2" >Point</option>
                                        <option value="3" >Line</option>
                                        <option value="5" >Polygon</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="id_node_count">{{ create_form.node_count.label }} <span data-toggle="tooltip" data-placement="right" title="The number of nodes in a polygon. 0 allows an arbitrary node count. This has no effect on other vector types." class="glyphicon glyphicon-question-sign"></span></label>
                                </td>
                                <td>
                                    {% render_field create_form.node_count class+='form-control' %}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input class="btn btn-danger" type="reset" value="Reset">
                                </td>
                                <td align="right">
                                    <input class="btn btn-primary right" type="submit" value="Create">
                                </td>
                            </tr>

                        </form>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
