{% extends 'base/base.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block bodyblock %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">Login</h1>
                </div>
                <div class="panel-body">
                    <form class="login" method="POST" action="{{ request.get_full_path }}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="login_username">{{ registration_form.username.label }}</label>
                            {% render_field authentication_form.username id='login_username' class+='form-control' %}
                            {% for error in authentication_form.username.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="login_password">{{ registration_form.password.label }}</label>
                            {% render_field authentication_form.password id='login_password' class+='form-control' %}
                            {% for error in authentication_form.password.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                        {% for error in authentication_form.non_field_errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                        <input type="submit" class="btn btn-primary" name="login" value="Log in"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% if not registration_success %}
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Create a new user</h2>
                    </div>
                    <div class="panel-body">
                        <form action="{% url 'users:login' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="id_username">{{ registration_form.username.label }}</label>
                                {% render_field registration_form.username class+='form-control' %}
                                {% for error in registration_form.username.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                            <div class="form-group">
                                <label for="id_password">{{ registration_form.password.label }}</label>
                                {% render_field registration_form.password class+='form-control' %}
                                {% for error in registration_form.password.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                            <div class="form-group">
                                <label for="id_email">{{ registration_form.email.label }}</label>
                                {% render_field registration_form.email class+='form-control' %}
                                {% for error in registration_form.email.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                            {% for error in registration_form.non_field_errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                            <input class="btn btn-default" type="submit" name="registration" value="{% trans 'Create' %}">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock bodyblock %}
