{% extends 'base/base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block additional_js %}
    <!-- An additional form script -->
    <script src="{% static 'scripts/pub_coll.js' %}"></script>
{% endblock additional_js %}

{% block bodyblock %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>{% blocktrans with team=team.name %}Team Profile of {{ team }}{% endblocktrans %}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    {% if not team.admins and request.user in members %}
                        Your team has no admin!
                        <form method="POST" action="{% url 'users:grant_team_admin' team.id request.user.id %}">
                            {% csrf_token %}
                            <input type="submit" value="I want to become admin!" class="btn btn-link" />
                        </form>
                    {% endif %}
                    <h3>Imagesets</h3>
                    <ul>
                        {% for imageset in imagesets %}
                            <li>
                                {% if not imageset.public %}
                                    <span class="glyphicon glyphicon-lock"></span>
                                {% endif %}
                                <a href="{% url 'images:view_imageset' imageset.id%}">
                                    {{ imageset.name }}
                                </a>
                                ({{ imageset.image_count }} images)</li>
                        {% empty %}
                            <li><em>{% trans 'no imagesets available' %}</em></li>
                        {% endfor %}
                    </ul>
                    <h3>{% trans 'Members' %}</h3>
                    {% if "user_management" in team_perms %}
                        <p>
                            <form method="post" action="{% url 'users:add_team_member' team.id %}" class="form-inline">
                                {% csrf_token %}
                                <label for="add_username">{% trans 'Add member' %}</label>
                                <input type="text" placeholder="username" maxlength="20" id="add_username" name="username" class="form-control">
                                <input type="submit" value="Add" class="btn btn-primary" />
                            </form>
                        </p>
                    {% endif %}
                    <div>
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#complete" aria-controls="complete" role="tab" data-toggle="tab">
                                    All members
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#30score" aria-controls="30score" role="tab" data-toggle="tab">
                                    30 day highscore
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="complete">
                                <table class="team-table">
                                    {% for member in members %}
                                        <tr>
                                            <td>
                                                {% if member in team.admins %}
                                                    <span class="glyphicon glyphicon-king"></span>
                                                {% endif %}
                                                <a href="{% url 'users:user' member.id %}">{{member.username}}</a>
                                            </td>
                                            <td>
                                                {% if member.points %}
                                                    {{member.points}}
                                                {% else %}
                                                    0
                                                {% endif %}
                                            </td>
                                            {% if member == request.user  %}
                                                <td>
                                                    <a href="{% url 'users:leave_team' team.id member.id %}"> [{% trans 'leave' %}]</a>
                                                </td>
                                            {% else %}
                                                {% if "user_management" in team_perms %}
                                                    <td>
                                                        <a href="{% url 'users:leave_team' team.id member.id %}"> [{% trans 'kick' %}]</a>
                                                    </td>
                                                    {% if member in admins %}
                                                        <td>
                                                            <form method="POST" action="{% url 'users:revoke_team_admin' team.id member.id %}" class="form-inline">
                                                                {% csrf_token %}
                                                                <input type="submit" value="[{% trans 'revoke admin' %}]" class="btn btn-link" />
                                                            </form>
                                                        </td>
                                                    {% else %}
                                                        <td>
                                                            <form method="POST" action="{% url 'users:grant_team_admin' team.id member.id %}" class="form-inline">
                                                                {% csrf_token %}
                                                                <input type="submit" value="[{% trans 'grant admin' %}]" class="btn btn-link" />
                                                            </form>
                                                        </td>
                                                    {% endif %}
                                                {% else %}
                                                    <td></td>
                                                    <td></td>
                                                {% endif %}
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="30score">
                                <table class="team-table">
                                    {% for member in members_30 %}
                                        <tr>
                                            <td>
                                                <a href="{% url 'users:user' member.id %}">{{member.username}}&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                            </td>
                                            <td>
                                                {% if member.points %}
                                                    {{member.points}}
                                                {% else %}
                                                    0
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        {% if 'create_set' in team_perms %}
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                       <h3 class="panel-title">Create imageset</h3>
                    </div>
                    <div class="panel-body">
                        <form method="post" action="{% url 'images:create_imageset' team.id %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="id_name">{{ imageset_creation_form.name.label }}</label>
                                {% render_field imageset_creation_form.name class+='form-control' placeholder=imageset_creation_form.name.label %}
                            </div>
                            <div class="form-group">
                                <label for="id_location">{{ imageset_creation_form.location.label }}</label>
                                {% render_field imageset_creation_form.location class+='form-control' placeholder=imageset_creation_form.location.label %}
                            </div>
                            <div class="form-group">
                                <label for="id_public">{{ imageset_creation_form.public.label }} <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="Enables public users to read the imageset "></span></label>
                                {% render_field imageset_creation_form.public %}
                            </div>
                            <div class="form-group">
                                <label for="id_public_collaboration">
                                    {{ imageset_creation_form.public_collaboration.label }} <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="Enables public users to annotate and verify in the imageset, when it is set public "></span> </label>
                                {% render_field imageset_creation_form.public_collaboration %}
                            </div>
                            <input class="btn btn-primary" type="submit" value="Create">
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
