{% extends 'base/base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block additional_js %}
    <!-- An additional form script -->
    <script src="{% static 'scripts/pub_coll.js' %}"></script>
{% endblock additional_js %}

{% block bodyblock %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>{% blocktrans with team=team.name %}Team Profile of {{ team }}{% endblocktrans %}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    {% if not team.admins and request.user in members %}
                        Your team has no admin!
                        <form method="POST" action="{% url 'users:grant_team_admin' team.id request.user.id %}">
                            {% csrf_token %}
                            <input type="submit" value="I want to become admin!" class="btn btn-link" />
                        </form>
                    {% endif %}
                    <h3>Imagesets</h3>
                    <div>
                        {% if imagesets %}
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#alphabetically" aria-controls="alphabetically" role="tab" data-toggle="tab">
                                        A-Z
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#date" aria-controls="date" role="tab" data-toggle="tab">
                                        By Date
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#size" aria-controls="size" role="tab" data-toggle="tab">
                                       By Size
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#test" aria-controls="test" role="tab" data-toggle="tab">
                                        Test Sets
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="alphabetically">
                                    <ul>
                                        {% for imageset in imagesets %}
                                            <li>
                                                {% if not imageset.public %}
                                                    <span class="glyphicon glyphicon-lock"></span>
                                                {% endif %}
                                                <a href="{% url 'images:view_imageset' imageset.id%}">
                                                    {{ imageset.name }}
                                                </a>
                                                ({{ imageset.image_count }} images)</li>
                                        {% empty %}
                                            {% trans 'no imagesets available' %}
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="date">
                                    <ul>
                                        {% for imageset in date_imagesets %}
                                            <li>
                                                {% if not imageset.public %}
                                                    <span class="glyphicon glyphicon-lock"></span>
                                                {% endif %}
                                                <a href="{% url 'images:view_imageset' imageset.id%}">
                                                    {{ imageset.name }}
                                                </a>
                                                ({{ imageset.image_count }} images)</li>
                                        {% empty %}
                                            {% trans 'no imagesets available' %}
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="size">
                                    <ul>
                                        {% for imageset in size_imagesets %}
                                            <li>
                                                {% if not imageset.public %}
                                                    <span class="glyphicon glyphicon-lock"></span>
                                                {% endif %}
                                                <a href="{% url 'images:view_imageset' imageset.id%}">
                                                    {{ imageset.name }}
                                                </a>
                                                ({{ imageset.image_count }} images)</li>
                                        {% empty %}
                                            {% trans 'no imagesets available' %}
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="test">
                                    <ul>
                                        {% for imageset in test_imagesets %}
                                            <li>
                                                {% if not imageset.public %}
                                                    <span class="glyphicon glyphicon-lock"></span>
                                                {% endif %}
                                                <a href="{% url 'images:view_imageset' imageset.id%}">
                                                    {{ imageset.name }}
                                                </a>
                                                ({{ imageset.image_count }} images)</li>
                                        {% empty %}
                                            Here, all imagesets with the word 'test' in the name are listed.<br>
                                            {% trans 'no test imagesets available' %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% else %}
                            {% trans 'no imagesets available' %}
                        {% endif %}
                    </div>
                    <h3>{% trans 'Members' %}</h3>
                    {% if "user_management" in team_perms %}
                        <p>
                            <form method="post" action="{% url 'users:add_team_member' team.id %}" class="form-inline">
                                {% csrf_token %}
                                <label for="add_username">{% trans 'Add member' %}</label>
                                <input type="text" placeholder="username" maxlength="20" id="add_username" name="username" class="form-control">
                                <input type="submit" value="Add" class="btn btn-primary" />
                            </form>
                        </p>
                    {% endif %}
                    <div>
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#complete" aria-controls="complete" role="tab" data-toggle="tab">
                                    All members
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#30score" aria-controls="30score" role="tab" data-toggle="tab">
                                    30 day highscore
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="complete">
                                <table class="team-table">
                                    {% for member in members %}
                                        <tr>
                                            <td>
                                                {% if member in team.admins %}
                                                    <span class="glyphicon glyphicon-king"></span>
                                                {% endif %}
                                                <a href="{% url 'users:user' member.id %}">{{member.username}}</a>
                                            </td>
                                            <td>
                                                {% if member.points %}
                                                    {{member.points}}
                                                {% else %}
                                                    0
                                                {% endif %}
                                            </td>
                                            {% if member == request.user  %}
                                                <td>
                                                    <a href="{% url 'users:leave_team' team.id member.id %}"> [{% trans 'leave' %}]</a>
                                                </td>
                                            {% else %}
                                                {% if "user_management" in team_perms %}
                                                    <td>
                                                        <a href="{% url 'users:leave_team' team.id member.id %}"> [{% trans 'kick' %}]</a>
                                                    </td>
                                                    {% if member in admins %}
                                                        <td>
                                                            <form method="POST" action="{% url 'users:revoke_team_admin' team.id member.id %}" class="form-inline">
                                                                {% csrf_token %}
                                                                <input type="submit" value="[{% trans 'revoke admin' %}]" class="btn btn-link" />
                                                            </form>
                                                        </td>
                                                    {% else %}
                                                        <td>
                                                            <form method="POST" action="{% url 'users:grant_team_admin' team.id member.id %}" class="form-inline">
                                                                {% csrf_token %}
                                                                <input type="submit" value="[{% trans 'grant admin' %}]" class="btn btn-link" />
                                                            </form>
                                                        </td>
                                                    {% endif %}
                                                {% else %}
                                                    <td></td>
                                                    <td></td>
                                                {% endif %}
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="30score">
                                {% if members_30 %}
                                    <table class="team-table">
                                        {% for member in members_30 %}
                                            <tr>
                                                <td>
                                                    <a href="{% url 'users:user' member.id %}">{{member.username}}&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                                </td>
                                                <td>
                                                    {% if member.points %}
                                                        {{member.points}}
                                                    {% else %}
                                                        0
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                {% else %}
                                    <p>
                                        No highscore to show.
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        {% if 'create_set' in team_perms %}
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                       <h3 class="panel-title">Create imageset</h3>
                    </div>
                    <div class="panel-body">
                        <form method="post" action="{% url 'images:create_imageset' team.id %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="id_name">{{ imageset_creation_form.name.label }}</label>
                                {% render_field imageset_creation_form.name class+='form-control' placeholder=imageset_creation_form.name.label %}
                            </div>
                            <div class="form-group">
                                <label for="id_location">{{ imageset_creation_form.location.label }}</label>
                                {% render_field imageset_creation_form.location class+='form-control' placeholder=imageset_creation_form.location.label %}
                            </div>
                            <div class="form-group">
                                <label for="id_public">{{ imageset_creation_form.public.label }} <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="Enables public users to read the imageset "></span></label>
                                {% render_field imageset_creation_form.public %}
                            </div>
                            <div class="form-group">
                                <label for="id_public_collaboration">
                                    {{ imageset_creation_form.public_collaboration.label }} <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="Enables public users to annotate and verify in the imageset, when it is set public "></span> </label>
                                {% render_field imageset_creation_form.public_collaboration %}
                            </div>
                            <input class="btn btn-primary" type="submit" value="Create">
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}
        <!-- check if permission needed to create/edit/delete export format maybe/at appropriate places -->
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                       <h3 class="panel-title">Export formats</h3>
                    </div>
                    <div class="panel-body">
                        <ul>
                            {% for format, form in export_formats_forms %}
                                <li>
                                    {% if not format.public %}
                                        <span class="glyphicon glyphicon-lock"></span>
                                    {% endif %}
                                        <!-- Button trigger modal -->
                                        <a href="#" data-toggle="modal" data-target="#format{{ format.id }}Modal">
                                        {{ format.name }}
                                        </a>

                                        <!-- Modal -->
                                        <div class="modal fade" id="format{{ format.id }}Modal" tabindex="-1" role="dialog" aria-labelledby="format{{ format.id }}ModalLabel">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title" id="format{{ format.id }}ModalLabel">Edit "{{ format.name }}"</h4>
                                                    </div>
                                                    <form method="POST" action="{% url 'annotations:edit_exportformat' team.id %}">
                                                        <div class="modal-body">
                                                            {% csrf_token %}
                                                            <div class="form-group">
                                                                <label for="id_name"><h3>{{ form.name.label }}</h3> of the export format</label>
                                                                {% render_field form.name class+='form-control' %}
                                                                {% for error in form.name.errors %}
                                                                    <div class="alert alert-warning">{{ error }}</div>
                                                                {% endfor %}
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="id_name_format"><h3>{{ form.name_format.label }}</h3>for the export file name</label>
                                                                <p>Use the following placeholders to integrate specific details into your Format:</p>
                                                                <p><b>%%imageset:</b> name of the imageset </p>
                                                                <p><b>%%team:</b> team of the imageset</p>
                                                                <p><b>%%setlocation:</b> location of the imageset</p>
                                                                <p><b>%%exportid:</b> id of the export (guaranteed to be unique for each export)</p>
                                                                {% render_field form.name_format class+='form-control' %}
                                                                {% for error in form.name_format.errors %}
                                                                <div class="alert alert-warning">{{ error }}</div>
                                                                {% endfor %}
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="id_public"><h3>{{ form.public.label }}: </h3></label>
                                                                {% render_field form.public %}
                                                                {% for error in form.public.errors %}
                                                                    <div class="alert alert-warning">{{ error }}</div>
                                                                {% endfor %}
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="id_annotations_types"><h3>{{ form.annotations_types.label }}</h3></label>
                                                                {% blocktrans %}
                                                                    <p>Hold down "Ctl" to select more than one.</p>
                                                                {% endblocktrans %}
                                                                {% render_field form.annotations_types class+='form-control' %}
                                                                {% for error in form.annotations_types.errors %}
                                                                    <div class="alert alert-warning">{{ error }}</div>
                                                                {% endfor %}
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="id_min_verifications"><h3>Minimum Amount of Verifications needed:</h3></label>
                                                                {% render_field form.min_verifications %}
                                                                {% for error in form.min_verifications.errors %}
                                                                    <div class="alert alert-warning">{{ error }}</div>
                                                                {% endfor %}
                                                            </div>
                                                            <hr>
                                                            <div class="form-group">
                                                                <label for="id_base_format"><h3>{{ form.base_format.label }}</h3></label>
                                                                {% blocktrans %}
                                                                    <p>Use the following placeholders to integrate specific details into your Format:</p>
                                                                    <p><b>%%imageset:</b> name of the imageset </p>
                                                                    <p><b>%%setdescription:</b> description of the imageset</p>
                                                                    <p><b>%%team:</b> team of the imageset</p>
                                                                    <p><b>%%setlocation:</b> location of the imageset</p>
                                                                    <p id="base_content_noimg"> <b>%%content:</b> the content of the annotation format and the not in image format</p>
                                                                    <p id="base_content_img" style="display: none;"><b>%%content:</b> the content of the image format</p>
                                                                {% endblocktrans %}
                                                                {% render_field form.base_format class+='form-control'%}
                                                                {% for error in form.base_format.errors %}
                                                                    <div class="alert alert-warning">{{ error }}</div>
                                                                {% endfor %}
                                                            </div>
                                                            <hr>
                                                            <div class="form-group">
                                                                <label for="id_image_aggregation"><h3>Group annotations by images: </h3></label>
                                                                {% render_field form.image_aggregation|append_attr:'id:img_agg' %}
                                                            </div>
                                                            <div class="form-group" id="img_form-group" style="display: none;">
                                                                <label for="id_image_format"><h3>{{ form.image_format.label }}</h3></label>
                                                                {% blocktrans %}
                                                                    <p>Use the following placeholders to integrate specific details into your Format:</p>
                                                                    <p><b>%%imagename:</b> name of the image </p>
                                                                    <p><b>%%imagewidth:</b> width of the image</p>
                                                                    <p><b>%%imageheight:</b> height of the image</p>
                                                                    <p><b>%%imageset:</b> name of the imageset</p>
                                                                    <p><b>%%annoamount:</b> number of annotations for the image </p>
                                                                    <p><b>%%annotations:</b> the content of the annotation format and the not in image format</p>
                                                                {% endblocktrans %}
                                                                {% render_field form.image_format class+='form-control'%}
                                                                {% for error in form.image_format.errors %}
                                                                    <div class="alert alert-warning">{{ error }}</div>
                                                                {% endfor %}
                                                            </div>
                                                            <hr>
                                                            <div class="form-group">
                                                                <label for="id_annotation_format"><h3>{{ form.annotation_format.label }}</h3></label>
                                                                {% blocktrans %}
                                                                    <p>Use the following placeholders to integrate specific details into your Format:</p>
                                                                    <p><b>%%imagename:</b> name of the image</p>
                                                                    <p><b>%%imagewidth:</b> width of the image</p>
                                                                    <p><b>%%imageheight:</b> height of the image </p>
                                                                    <p><b>%%imageset:</b> name of the imageset </p>
                                                                    <p><b>%%type:</b> annotation type</p>
                                                                    <p><b>%%veriamount:</b> the amount of verifications for the annotation</p>
                                                                    <p><b>%%vector:</b> the annotation vector, as defined in the vector format</p>
                                                                    <p><b>%%cx, %%relcx:</b> x-coordinate of the center of the annotation, absolute or relative value</p>
                                                                    <p><b>%%cy, %%relcy:</b> y-coordinate of the center of the annotation, absolute or relative value</p>
                                                                    <p><b>%%rad, %%relrad:</b> radius of the annotation, absolute or relative value</p>
                                                                    <p><b>%%dia, %%reldia:</b> diameter of the annotation, absolute or relative value</p>
                                                                    <p><b>%%width, %%relwidth:</b> width of the annotation, absolute or relative value</p>
                                                                    <p><b>%%height, %%relheight:</b> height of the annotation, absolute or relative value</p>
                                                                {% endblocktrans %}
                                                                {% render_field form.annotation_format class+='form-control'%}
                                                                {% for error in form.annotation_format.errors %}
                                                                    <div class="alert alert-warning">{{ error }}</div>
                                                                {% endfor %}
                                                            </div>
                                                            <hr>
                                                            <div class="form-group">
                                                                <label for="id_vector_format"><h3>{{ form.vector_format.label }}</h3></label>
                                                                {% blocktrans %}
                                                                    <p>Use the following placeholders to define how the annotation vector (x and y values of the points) get represented:</p>
                                                                    <p><b>%%count0:</b> the number of the current point (starting with 0)</p>
                                                                    <p><b>%%count1:</b> the number of the current point (starting with 1)</p>
                                                                    <p><b>%%x, %%relx:</b> x-coordinate of the current point, absolute or relative value</p>
                                                                    <p><b>%%y, %%rely:</b> y-coordinate of the current point, absolute or relative value</p>
                                                                    <p><b>%%br:</b> a linebreak</p>
                                                                {% endblocktrans %}
                                                                {% render_field form.vector_format class+='form-control'%}
                                                                {% for error in form.vector_format.errors %}
                                                                    <div class="alert alert-warning">{{ error }}</div>
                                                                {% endfor %}
                                                            </div>
                                                            <hr>
                                                            <div class="form-group">
                                                                <label for="id_not_in_image_format"><h3>{{ form.not_in_image_format.label }}</h3></label>
                                                                {% blocktrans %}
                                                                    <p>Use the following placeholders to integrate specific details into your Format:</p>
                                                                    <p><b>%%imagename:</b> name of the image</p>
                                                                    <p><b>%%imagewidth:</b> width of the image</p>
                                                                    <p><b>%%imageheight:</b> height of the image</p>
                                                                    <p><b>%%imageset:</b> name of the imageset </p>
                                                                    <p><b>%%type:</b> type of the annotation</p>
                                                                    <p><b>%%veriamount:</b> the amount of verifications for the annotation</p>
                                                                {% endblocktrans %}
                                                                {% render_field form.not_in_image_format class+='form-control'%}
                                                                {% for error in form.not_in_image_format.errors %}
                                                                    <div class="alert alert-warning">{{ error }}</div>
                                                                {% endfor %}
                                                            </div>
                                                            {% for error in form.non_field_errors %}
                                                                <div class="alert alert-warning">{{ error }}</div>
                                                            {% endfor %}
                                                        </div>
                                                        <div class="modal-footer">
                                                            <a href="" type="button" class="btn btn-danger">Delete</a>
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                            <button type="submit" class="btn btn-primary">Save changes</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                </li>
                                {% empty %}
                                    {% trans 'no export formats available' %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
    </div>
</div>
{% endblock %}
