/**
 * Un-styles anchor tags when the a-unstyle class is applied
 */
a.a-unstyle:link, a.a-unstyle:visited, a.a-unstyle:hover, a.a-unstyle:active {
  color: inherit;
  text-decoration: inherit;
}


// TODO Remove below

// Given colors
$primary-color: #083358;
$accent-color: #F67280;

// Calculated colors
$primary-color-dark: scale_color($primary-color, $lightness: -20%);
$primary-color-light: scale_color($primary-color, $lightness: 20%);

//$primary-color-dark: #455A64;
//$primary-color: #607D8B;
//$primary-color-light: #CFD8DC;
$primary-color-text: #FFFFFF;
//$accent-color: #009688;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #BDBDBD;
$background-color: #FFFFFF;

/**
Useful standard Animations
 */
@mixin anim-fade($time: 0.5s, $anim-function: ease-in) {
  .fade-enter-active, .fade-leave-active {
    transition: opacity $time $anim-function;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }
}
