{% extends 'annotations/base.html' %}
{% load i18n %}
{% load static %}
{% block additional_annotation_js %}
  <script type="text/javascript" src="{% static 'annotations/js/annotations.js' %}"></script>
{% endblock additional_annotation_js %}
{% block bodyblock %}
<div class="container-fluid">
  <div id="feedback_annotation_created" class="js_feedback alert alert-success hidden">
    {% trans 'The annotation was successfully created.' %}
  </div>
  <div id="feedback_annotation_deleted" class="js_feedback alert alert-success hidden">
    {% trans 'The annotation was successfully deleted.' %}
  </div>
  <div id="feedback_annotation_exists" class="js_feedback alert alert-info hidden">
    {% trans 'A similar annotation exists already.' %}
  </div>
  <div id="feedback_annotation_exists_deleted" class="js_feedback alert alert-warning hidden">
    {% trans 'A similar annotation exists already. The edited annotation was deleted.' %}
  </div>
  <div id="feedback_annotation_invalid" class="js_feedback alert alert-warning hidden">
    {% trans 'The annotation is invalid.' %}
  </div>
  <div id="feedback_connection_error" class="js_feedback alert alert-danger hidden">
    {% trans 'There was an unhandled error during the connection.' %}
  </div>
  <div id="feedback_save_successful" class="js_feedback alert alert-success hidden">
    {% trans 'The annotation was successfully saved.' %}
  </div>
  <div id="feedback_annotation_updated" class="js_feedback alert alert-success hidden">
    {% trans 'The annotation was successfully updated.' %}
  </div>
    <div class="row">
        <div class="col-md-3">
            <form id="filter_form" action="{{request.get_full_path}}" enctype="multipart/form-data" method="get">

                        <input type="hidden" name="image_id" value="{{ selected_image.id }}">
                        annotation type:
                        <select name="selected_annotation_type">
                          {% include "annotations/annotationtypes.html" %}
                        </select>

                        <input name="filter" type="submit" value="filter">


                {% if filtered is not None %}
                    <a href="{{request.path}}" target="_self"> [x] </a>
                {% endif %}
            </form>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="{% url 'images:view_imageset' selected_image.image_set.id %}">
                        <u><h3 class="panel-title">{{selected_image.image_set.name}}</h3></u></a>
                </div>
                <div class="panel-body">
                    {% for set_image in set_images %}
                      <a id="annotate_image_link_{{ set_image.id }}" href="{% url 'annotations:annotate' set_image.id %}{% if filtered is not None %}?selected_annotation_type={{ filtered }}{% endif %}" class="annotate_image_link {% if set_image.id == selected_image.id %}active{% endif %}" data-imageid="{{ set_image.id }}"> {{set_image.name}}</a><br>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
    <div id="edit_active" class="alert alert-warning hidden">
      <p>
        {% trans 'You are currently editing an annotation.' %}
      </p>
      <button id="cancel_edit_button" class="btn btn-danger">{% trans 'Cancel' %}</button>
    </div>

            <img id="image" src="{% url 'images:view_image' selected_image.id %}" alt="Picture {{selected_image.name}} not found!" data-imageid="{{ selected_image.id }}"></br>
            <hr color="silver" width="100%">
            <p>
              <u>Annotations:</u>
            </p>
            <div id="existing_annotations">
              {% for annotation in image_annotations %}
                <div id="annotation_{{ annotation.id }}" class="annotation">
                  {{ annotation.annotation_type.name }}:
                  <div style="float: right;">
                    <a href="{% url 'annotations:verify' annotation.id%}">
                      <img src="{% static "symbols/checkmark.png" %}" alt="edit" class="annotation_verify_button" data-annotationid="{{ annotation.id }}">
                    </a>
                    <a href="{% url 'annotations:edit_annotation' annotation.id%}" class="annotation_edit_button" id="annotation_edit_button_{{ annotation.id }}" data-annotationid="{{ annotation.id }}" data-escapedvector="{{ annotation.vector_as_json }}">
                      <img src="{% static "symbols/pencil.png" %}" alt="edit">
                    </a>
                    <a href="{% url 'annotations:delete_annotation' annotation.id%}" class="annotation_delete_button" data-annotationid="{{ annotation.id }}">
                      <img src="{% static "symbols/bin.png" %}" alt="delete">
                    </a>
                  </div>
                  <br>
                  {% if annotation.vector is not None %}
                    {% for key, value in annotation.vector.items %}
                      {% if forloop.counter0 > 0 %}
                        &bull;
                      {% endif %}
                      <em>{{ key }}</em>: {{ value }}
                    {% endfor %}
                  {% else %}
                    {{annotation.content}}
                  {% endif %}
                </div>
              {% endfor %}
            </div>
            <div id="no_annotations" class="alert alert-warning{% if image_annotations %} hidden{% endif %}">{% trans 'No annotations found.' %}</div>
            <div id="annotations_loading" class="alert alert-info hidden">{% trans 'Loading ...' %}</div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{selected_image.name}}</h3>
                </div>
                <div class="panel-body">
                    <form id="annotation_form" action="{% url 'annotations:annotate' selected_image.id %}{% if filtered is not None %}?selected_annotation_type={{ filtered }}{% endif %}" enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="image_id" value="{{ selected_image.id }}">
                        annotation type:
                        <select id="annotation_type_id" name="selected_annotation_type">
                          {% include "annotations/annotationtypes.html" %}
                        </select>
                        <p>
                          <input type='checkbox' name='not_in_image' id='not_in_image'>
                          <label for='not_in_image'>Not in the image (g)</label>
                        </p>
                        <table border="1" id="coordinate_table">
                            <tr>
                                <td>key</td>
                                <td>value</td>
                            </tr>
                            <tr>
                                <td>x1</td>
                                <td><input id="x1Field" class="Coordinates annotation_value" type="number" name="x1Field" value="0" min="0"></td>
                            </tr>
                            <tr>
                                <td>y1</td>
                                <td><input id="y1Field" class="Coordinates annotation_value" type="number" name="y1Field" value="0" min="0"></td>
                            </tr>
                            <tr>
                                <td>x2</td>
                                <td><input id="x2Field" class="Coordinates annotation_value" type="number" name="x2Field" value="0" min="0"></td>
                            </tr>
                            <tr>
                                <td>y2</td>
                                <td><input id="y2Field" class="Coordinates annotation_value" type="number" name="y2Field" value="0" min="0"></td>
                            </tr>
                        </table>
                        <input type="hidden" name="annotate">
                        <button type="submit" class="annotate_button btn btn-default" id="save_button">
                            <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>Save (v)
                        </button>
                        <button type="button" class="annotate_button btn btn-default" id="reset_button">
                            <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>Reset (r)
                        </button>
                        <br>
                        <button type="button" class="annotate_button btn btn-default" id="last_button">
                            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>Last (a)
                        </button>
                        <button type="button" class="annotate_button btn btn-default" id="back_button">
                            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Back (s)
                        </button>
                        <br>
                        <button type="button" class="annotate_button btn btn-default" id="skip_button">
                            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>Skip (d)
                        </button>
                        <button type="button" class="annotate_button btn btn-default" id="next_button">
                            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>Next (f)
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

  <span id="image_id" class="hidden">{{ selected_image.id }}</span>
{% endblock %}



