{% extends 'annotations/base.html' %}
{% load static %}
{% block individual_script %}
function init_navigationbuttons() {
{% if next_image %}
$('#next_button').click(function(){
$('#annotation_form').attr('action', '{% url 'annotations:annotate' next_image.id %}');
$('#annotation_form').submit();
});
$('#skip_button').click(function(){window.open("{% url 'annotations:annotate' next_image.id %}", "_self");});
{% else %}
$('#next_button').attr('disabled', 'true');
$('#skip_button').attr('disabled', 'true');
{% endif %}

{% if last_image %}
$('#last_button').click(function(){
$('#annotation_form').attr('action', '{% url 'annotations:annotate' last_image.id %}');
$('#annotation_form').submit();
});
$('#back_button').click(function(){window.open("{% url 'annotations:annotate' last_image.id %}", "_self");});
{% else %}
$('#last_button').attr('disabled', 'true');
$('#back_button').attr('disabled', 'true');
{% endif %}
}
{% endblock %}
{% block bodyblock %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <form id="annotation_form" action="{{request.get_full_path}}" enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="image_id" value="{{ selected_image.id }}">
                        annotation type:
                        {% include "annotations/annotationtypes.html" %}

                <input type="submit" value="filter">

                {% if filtered %}
                    <a href="{{request.get_full_path}}" target="_self"> [x] </a>
                {% endif %}

            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="{% url 'images:view_imageset' selected_image.image_set.id %}"><u><h3 class="panel-title">{{selected_image.image_set.name}}</h3></u></a>
                </div>
                <div class="panel-body">
                    {% for set_image in set_images %}
                    {% if set_image.id == selected_image.id %}
                    <b id="selected_image_row">{{set_image.name}}</b><br>
                    {% else %}
                    <a href="{% url 'annotations:annotate' set_image.id %}"> {{set_image.name}}</a><br>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img id="picture" src="{% url 'images:view_image' selected_image.id %}" alt="Picture {{selected_image.name}} not found!" width="100%"></br>
            <hr color="silver" width="100%">
            {% if image_annotations.all %}
            <u>Annotations:</u>
            {% for annotation in image_annotations %}
            <div class="annotation">
                {{annotation.type.name}}:
                <div style="float: right;">
                    <a href="{% url 'annotations:verify' annotation.id%}">
                        <img src="{% static "symbols/checkmark.png" %}" alt="edit">
                    </a>
                    <a href="{% url 'annotations:edit_annotation' annotation.id%}">
                        <img src="{% static "symbols/pencil.png" %}" alt="edit">
                    </a>
                    <a href="{% url 'annotations:delete_annotation' annotation.id%}">
                        <img src="{% static "symbols/bin.png" %}" alt="delete">
                    </a>
                </div>
                <br>
                {{annotation.content}}
            </div>
            {% endfor %}
            {% else %}
            <div class="alert alert-warning" role="alert">No annotations found.</div>
            {% endif %}
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{selected_image.name}}</h3>
                </div>
                <div class="panel-body">
                    <form id="annotation_form" action="{% url 'annotations:annotate' selected_image.id %}" enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="image_id" value="{{ selected_image.id }}">
                        annotation type:
                        {% include "annotations/annotationtypes.html" %}
                        <table border="1">
                            <tr>
                                <td>key</td>
                                <td>value</td>
                            </tr>
                            <tr>
                                <td>x1</td>
                                <td><input id="x1Field" class="Coordinates" type="number" name="x1Field" value="0" min="0"></td>
                            </tr>
                            <tr>
                                <td>y1</td>
                                <td><input id="y1Field" class="Coordinates" type="number" name="y1Field" value="0" min="0"></td>
                            </tr>
                            <tr>
                                <td>x2</td>
                                <td><input id="x2Field" class="Coordinates" type="number" name="x2Field" value="0" min="0"></td>
                            </tr>
                            <tr>
                                <td>y2</td>
                                <td><input id="y2Field" class="Coordinates" type="number" name="y2Field" value="0" min="0"></td>
                            </tr>
                            <tr>
                                <td colspan='2'><input type='checkbox' name='not_in_image' id='not_in_image'><label for='not_in_image'>Not in the image (g)</label></td>
                            </tr>
                        </table>
                        <button type="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>Save (v)
                        </button>
                        <button type="button" class="btn btn-default" id="reset_button">
                            <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>Reset (r)
                        </button>
                        <br>
                        <button type="button" class="btn btn-default" id="last_button">
                            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>Last (a)
                        </button>
                        <button type="button" class="btn btn-default" id="back_button">
                            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Back (s)
                        </button>
                        <br>
                        <button type="button" class="btn btn-default" id="skip_button">
                            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>Skip (d)
                        </button>
                        <button type="button" class="btn btn-default" id="next_button">
                            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>Next (f)
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

