{% extends 'annotations/base.html' %}
{% load static %}

{% block additional_annotation_js %}
  <script type="text/javascript">
    {# TODO: Get rid of this #}
    function loadannotation() {
      $('#x1Field').val({{ annotation.vector.x1 }});
      $('#y1Field').val({{ annotation.vector.y1 }});
      $('#x2Field').val({{ annotation.vector.x2 }});
      $('#y2Field').val({{ annotation.vector.y2 }});
    }
  </script>
  <script type="text/javascript" src="{% static 'annotations/js/annotations.js' %}"></script>
{% endblock additional_annotation_js %}


{% block bodyblock %}
      <div class="row">
          <div class="col-md-6 col-md-offset-3">
              <img id="image" src="{% url 'images:view_image' selected_image.id %}" alt="Picture {% static selected_image.full_path %} not found!" width="100%"></br>
          </div>
          <div class="col-md-3">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h3 class="panel-title">
                          {{selected_image.name}}
                      </h3>
                  </div>
                  <div class="panel-body">
                      <form id="annotation_form" action="{% url 'annotations:edit_annotation_save' annotation.id%}" enctype="multipart/form-data" method="get">

                          <input type="hidden" name="image_id" value="{{ selected_image.id }}">
                          <input type="hidden" id="prev_view" name="prev_view" value="{{ prev_view }}">
                          <select name="selected_annotation_type">
                              {% for annotation_type in annotation_types %}
                              <option value="{{annotation_type.id}}" {% if annotation_type.id == current_annotation_type_id %} selected {% endif %} >{{annotation_type.name}}</option>
                              {% endfor %}
                          </select>
                          <table border="1">
                              <tr>
                                  <td>Key</td>
                                  <td>Value</td>
                              </tr>
                              <tr>
                                  <td>X1</td>
                                  <td><input id="x1Field" class="Coordinates" type="number" name="x1Field" value="{{ annotation.vector.x1 }}"></td>
                              </tr>
                              <tr>
                                  <td>Y1</td>
                                  <td><input id="y1Field" class="Coordinates" type="number" name="y1Field" value="{{ annotation.vector.y1 }}"></td>
                              </tr>
                              <tr>
                                  <td>X2</td>
                                  <td><input id="x2Field" class="Coordinates" type="number" name="x2Field" value="{{ annotation.vector.x2 }}"></td>
                              </tr>
                              <tr>
                                  <td>Y2</td>
                                  <td><input id="y2Field" class="Coordinates" type="number" name="y2Field" value="{{ annotation.vector.y2 }}"></td>
                              </tr>
                              <tr>
                                <td colspan='2'><input type='checkbox' name='not_in_image'id='not_in_image' {% if annotation.not_in_image == 1 %}checked=""{% endif %}><label for='not_in_image'>Not in the image</label></td>
                              </tr>
                          </table>
                          <input type="submit" value="Save">
                          <input id="reset_button" type="button" value="Reset">
                          <input id="back_button" type="button" value="Back" onclick="{% if prev_page is not None%} location.href='{{prev_page}}' {% else %} location.href='{% url 'annotations:annotate' selected_image.id %}'{% endif %};">
                      </form>
                  </div>
              </div>
          </div>
      </div>
{% endblock bodyblock %}
