{% extends 'base/base.html' %}
{% load static %}
{% block navblock %}
<li><a href='{% url 'images:view_imageset' selected_image_set.id %}'>Imageset</a></li>
{% endblock %}
{% block bodyblock %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Manage annotations</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                {% for image_set in image_sets %}
                    {% if image_set.id == selected_image_set.id %}
                        <a class="list-group-item active">
                        {% if image_set.team %}
                            {{image_set.team.name}} /
                        {% endif %}
                        {{image_set.name}}
                        </a>
                    {% else %}
                        <a class="list-group-item" href="{% url 'annotations:manage_annotations' image_set.id %}">
                            {% if image_set.team %}
                                {{image_set.team.name}} /
                            {% endif %}
                            {{image_set.name}}
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-md-9">
            <div class="panel panel-default">
                <table class="table table-striped" width='100%'>
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Type</th>
                            <th>Annotation</th>
                            <th>Verifications</th>
                            <th>Creator</th>
                            <th>Last editor</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    {% for annotation in annotations %}
                        <tr>
                            <td><a href='{% url 'annotations:annotate' annotation.image.id %}'>{{ annotation.image.name }}</a></td>
                            <td>{{ annotation.type.name }}</td>
                            <td>{{ annotation.content }}</td>
                            <td>
                                {% if annotation.verifications_difference %}
                                    {{ annotation.verifications_difference }}
                                {% else %}
                                    0
                                {% endif %}
                            </td>
                            <td>{{ annotation.user.username }}</td>
                            <td>{{ annotation.last_editor.username }}</td>
                            <td>
                                <a href='{% url 'annotations:edit_annotation' annotation.id%}'>
                                    <span class="btn btn-success">
                                        <span class="glyphicon glyphicon-pencil glyphicon-white" aria-hidden="true"></span>
                                    </span>
                                </a>
                                <a href='{% url 'annotations:verify' annotation.id %}'>
                                    <span class="btn btn-warning">
                                        <span class="glyphicon glyphicon-ok glyphicon-white" aria-hidden="true"></span>
                                    </span>
                                </a>
                                <a href='{% url 'annotations:delete_annotation' annotation.id%}'>
                                    <span class="btn btn-danger">
                                        <span class="glyphicon glyphicon-trash glyphicon-white" aria-hidden="true"></span>
                                    </span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
