{% extends 'base/base.html' %}
{% load static %}
{% block navblock %}
<li><a href='{% url 'images:view_imageset' selected_image_set.id %}'>Imageset</a></li>
{% endblock %}
{% block bodyblock %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Manage annotations of {% if selected_image_set.team %} <a href="{% url 'users:team' selected_image_set.team_id%}">{{selected_image_set.team.name}}</a>/{% endif %}<a href="{% url 'images:view_imageset' selected_image_set.id %}">{{selected_image_set.name}}</a></h1>
            {% if annotations.has_other_pages %}
                <h4>
                    Page {{ annotations.number }} of {{ annotations.paginator.num_pages }}
                </h4>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <table class="table table-striped" width='100%'>
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Type</th>
                            <th>Annotation</th>
                            <th>Verifications</th>
                            <th>Creator</th>
                            <th>Last editor</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    {% for annotation in annotations %}
                        <tr>
                            <td><a href='{% url 'annotations:annotate' annotation.image.id %}'>{{ annotation.image.name }}</a></td>
                            <td>{{ annotation.annotation_type.name }}</td>
                            <td>{{ annotation.content | truncatechars:60}}{% if annotation.blurred %} <span id="blurred_label" class="label label-info">Blurred</span>{% endif %}{% if annotation.concealed %} <span id="concealed_label" class="label label-warning">Concealed</span>{% endif %}</td>
                            <td>
                                {% if annotation.verification_difference %}
                                    {{ annotation.verification_difference }}
                                {% else %}
                                    0
                                {% endif %}
                            </td>
                            <td>{{ annotation.user.username }}</td>
                            <td>{{ annotation.last_editor.username }}</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="btn-group">
                                    <a class="btn btn-success" href='{% url 'annotations:annotate' annotation.image.id %}?edit={{ annotation.id }}'>
                                            <span class="glyphicon glyphicon-pencil glyphicon-white" aria-hidden="true"></span>
                                    </a>
                                    <a class="btn btn-warning" href='{% url 'annotations:verify' annotation.id %}'>
                                            <span class="glyphicon glyphicon-ok glyphicon-white" aria-hidden="true"></span>
                                    </a>
                                    <a class="btn btn-danger" href='{% url 'annotations:delete_annotation' annotation.id%}'>
                                            <span class="glyphicon glyphicon-trash glyphicon-white" aria-hidden="true"></span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="pagination">
                <span class="step-links">
                    <div class="btn-group" role="group" aria-label="btn-group">
                        {% if annotations.has_previous %}
                            <a class="btn btn-default" href="?page=1">&laquo; first</a>
                            <a class="btn btn-default" href="?page={{ annotations.previous_page_number }}">previous</a>
                        {% endif %}
                        {% if annotations.has_other_pages %}
                            <span class="current btn btn-default">
                                Page {{ annotations.number }} of {{ annotations.paginator.num_pages }}
                            </span>
                        {% endif %}
                        {% if annotations.has_next %}
                            <a class="btn btn-default" href="?page={{ annotations.next_page_number }}">next</a>
                            <a class="btn btn-default" href="?page={{ annotations.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </div>
                </span>
            </div>
        </div>
    </div>
</div>
{% endblock %}
