{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}
{% block additional_js %}
<script type="text/javascript" src="{% static 'annotations/js/verification.js' %}"></script>
{% endblock additional_js %}
{% block bodyblock %}
<div class="container-fluid">
    <div id="feedback_connection_error" class="js_feedback alert alert-danger hidden">
        {% trans 'There was an unhandled error during the connection.' %}
    </div>
    <div class="row">
        <div class="col-md-3">
            <form id="annotation_form" action="{{request.get_full_path}}" enctype="multipart/form-data" method="get">

                <input type="hidden" name="annotation_id" value="{{ annotation.id }}">

                {% if user_veri is not None %}
                    <input type="hidden" name="filter_veri" value="{{ user_veri }}">
                {% endif %}

                annotation type:
                <select name="selected_annotation_type">
                  {% include "annotations/annotationtypes.html" %}
                </select>

                <input name="filter" type="submit" value="filter">

                {% if filtered is not None %}
                    {% if user_veri is not None %}
                        <a href="{{request.path}}?filter_veri={{ user_veri }}&filter_button={{ veri_pushed }}" target="_self"> [x] </a>
                    {% else %}
                        <a href="{{request.path}}" target="_self"> [x] </a>
                    {% endif %}
                {% endif %}
            </form>
            <form id="filter_veri__form" action="{{ request.get_full_path }}" enctype="multipart/form-data" method="get">

                <input type="hidden" name="filter_veri" value="True">

                {% if filtered is not None %}
                    <input type="hidden" name="selected_annotation_type" value="{{ filtered }}">
                {% endif %}

                <input name="filter_button" type="submit" value="filter already verified tags">

                {% if user_veri is not None %}
                    {% if filtered is not None %}
                        <a href="{{request.path}}?selected_annotation_type={{ filtered }}&filter=filter" target="_self"> [x] </a>
                    {% else %}
                        <a href="{{request.path}}" target="_self"> [x] </a>
                    {% endif %}
                {% endif %}
            </form>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="{% url 'annotations:manage_annotations' image.image_set.id %}">
                        <u><h3 class="panel-title">{{image.image_set.name}}</h3></u></a>
                </div>
                <div id="image_list" class="panel-body">
                    {% for set_annotation in set_annotations %}
                        {% if set_annotation.id == annotation.id %}
                            {{ set_annotation.image.name }}: <b id="selected_annotation_row">{{annotation.content}}</b><br>
                        {% else %}
                            {{ set_annotation.image.name }}:
                                <a href="{% url 'annotations:verify' set_annotation.id %}{% if filtered is not None %}?selected_annotation_type={{ filtered }}{% endif %}">{{set_annotation.content}}</a><br>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="wrapper">
                <img id="picture" src="{% url 'images:view_image' image.id %}" alt="Picture {{image.name}} not found!" width="100%" data-x="{{ annotation.vector.x1 }}" data-y="{{ annotation.vector.y1 }}" data-width="{{ width }}" data-height="{{ height }}"></br>
                <div id="boundingBox"></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form id='verification_form' enctype="multipart/form-data" method="post" action="{% url 'annotations:verify' annotation.id %}{% if filtered is not None %}?selected_annotation_type={{ filtered }}{% endif %}">
                        {% csrf_token %}
                        <input type='hidden' id='state' name='state' value='blank'>
                        <input type='hidden' id='annotation' name='annotation' value='{{ annotation.id }}'>
                        <div class="row">
                            <div class="col-md-6">
                                <h4><b>Annotation type: {{ annotation_type.name }}</b></h4>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-warning btn-block" type='button' id='edit_button'>
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit (e)</button>
                            </div>
                            <div class="col-md-12"><p></p></div>
                            <div class="col-md-6">
                                <button class="btn btn-lg btn-success btn-block" type='button' id='accept_button'>
                                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> YAY (j)</button>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-lg btn-danger btn-block" type='button' id='reject_button'>
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> NAY (k)</button>
                            </div>
                            <div class="col-md-12"><p></p></div>
                            <div class="col-md-6">
                                <button class="btn btn-default btn-block" type='button' id='last_unverified_button'>
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Last unverified (a)</button>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-default btn-block" type='button' id='last_button'>
                                <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Last (s)</button>
                            </div>
                            <div class="col-md-12"><p></p></div>
                            <div class="col-md-6">
                                <button class="btn btn-default btn-block" type='button' id='next_button'>
                                    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> Next (d)</button>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-default btn-block" type='button' id='next_unverified_button'>
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Next unverified (f)</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
