{% load i18n %}
{% blocktrans %}
    <p>Use the following placeholders to integrate specific details into your Format:</p>
    <p><b>%%imagename:</b> name of the image</p>
    <p><b>%%imagewidth:</b> width of the image</p>
    <p><b>%%imageheight:</b> height of the image </p>
    <p><b>%%imageset:</b> name of the imageset </p>
    <p><b>%%type:</b> annotation type</p>
    <p><b>%%veriamount:</b> the amount of verifications for the annotation</p>
    <p><b>%%vector:</b> the annotation vector, as defined in the vector format</p>
    <p><b>%%cx, %%relcx:</b> x-coordinate of the center of the annotation, absolute or relative value</p>
    <p><b>%%cy, %%relcy:</b> y-coordinate of the center of the annotation, absolute or relative value</p>
    <p><b>%%rad, %%relrad:</b> radius of the annotation, absolute or relative value</p>
    <p><b>%%dia, %%reldia:</b> diameter of the annotation, absolute or relative value</p>
    <p><b>%%width, %%relwidth:</b> width of the annotation, absolute or relative value</p>
    <p><b>%%height, %%relheight:</b> height of the annotation, absolute or relative value</p>
{% endblocktrans %}