{% load i18n %}
{% blocktrans %}
    <p>Use the following placeholders to integrate specific details into your Format:</p>
    <p><b>%%imageset:</b> name of the imageset </p>
    <p><b>%%setdescription:</b> description of the imageset</p>
    <p><b>%%team:</b> team of the imageset</p>
    <p><b>%%setlocation:</b> location of the imageset</p>
    <p id="base_content_noimg"> <b>%%content:</b> the content of the annotation format and the not in image format</p>
    <p id="base_content_img" style="display: none;"><b>%%content:</b> the content of the image format</p>
{% endblocktrans %}
