{% load i18n %}
{% blocktrans %}
    <p>Use the following placeholders to integrate specific details into your Format:</p>
    <p><b>%%imagename:</b> name of the image</p>
    <p><b>%%imagewidth:</b> width of the image</p>
    <p><b>%%imageheight:</b> height of the image</p>
    <p><b>%%imageset:</b> name of the imageset </p>
    <p><b>%%imageid:</b> id of the image (guaranteed to be unique)</p>
    <p><b>%%type:</b> type of the annotation</p>
    <p><b>%%veriamount:</b> the amount of verifications for the annotation</p>
{% endblocktrans %}
