{% load i18n %}
{% blocktrans %}
    <p>Use the following placeholders to define how the annotation vector (x and y values of the points) get represented:</p>
    <p><b>%%count0:</b> the number of the current point (starting with 0)</p>
    <p><b>%%count1:</b> the number of the current point (starting with 1)</p>
    <p><b>%%x, %%relx:</b> x-coordinate of the current point, absolute or relative value</p>
    <p><b>%%y, %%rely:</b> y-coordinate of the current point, absolute or relative value</p>
    <p><b>%%br:</b> a linebreak</p>
{% endblocktrans %}