{% extends 'base/base.html' %}
{% load widget_tweaks %}

{% block bodyblock %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Home</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Update Note</h2>
                </div>
                <div class="panel-body">
                    With our last update, we added a lot of features to the ImageTagger.
                    They include the annotation of polygons, lines and points, their import and export, an edit function for export types (in the team view) and image preloading in the verification view.
                    There might be some bugs left and if you find one, please notify us via <a target="_blank" href="https://github.com/bit-bots/imagetagger">GitHub</a>.
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Imagesets</h2>
                </div>
                <div class="panel-body">
                    {% if request.user.pinned_sets.all %}
                        <h3>Pinned imagesets</h3>
                        <ul>
                            {% for imageset in user.pinned_sets.all %}
                                <li>
                                    {% if not imageset.public %}
                                        <span class="glyphicon glyphicon-lock"></span>
                                    {% endif %}
                                    <a href="{% url 'users:team' imageset.team.id %}">{{imageset.team.name}}</a>/<a href="{% url 'images:view_imageset' imageset.id%}">{{ imageset.name }}</a>
                                    ({{ imageset.image_count }} images) {{ imageset.prio_symbol | safe }}
                                    {% for tag in imageset.set_tags.all %}
                                        <a href="{% url 'images:explore_imageset' %}?tags={{ tag.name }}, " class="label label-info">{{ tag.name }}</a>
                                    {% endfor %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% if image_sets %}
                        <h3>My imagesets</h3>
                        <ul>
                            {% for imageset in image_sets %}
                                <li>
                                    {% if not imageset.public %}
                                        <span class="glyphicon glyphicon-lock"></span>
                                    {% endif %}
                                    <a href="{% url 'users:team' imageset.team.id %}">{{imageset.team.name}}</a>/<a href="{% url 'images:view_imageset' imageset.id%}">{{ imageset.name }}</a>
                                    ({{ imageset.image_count }} images) {{ imageset.prio_symbol | safe }}
                                    {% for tag in imageset.set_tags.all %}
                                        <a href="{% url 'images:explore_imageset' %}?tags={{ tag.name }}, " class="label label-info">{{ tag.name }}</a>
                                    {% endfor %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    Additional public imagesets, not belonging to any of your teams, can be found in the <a href="{% url 'images:explore_imageset' %}">explore view</a> .
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">My Teams</h3>
                        </div>
                        <div class="panel-body">
                            <ul>
                                {% for team in userteams %}
                                    <li><a href="{% url 'users:team' team.id %}">{{team.name}}</a></li>
                                {% endfor %}
                            </ul>
                            <hr>
                            <p>Create new team:</p>
                            <form method="post" action="{% url 'users:create_team' %}">
                                {% csrf_token %}
                                <div class="input-group" role="group" aria-label="team_creation">
                                    {% render_field team_creation_form.name placeholder=team_creation_form.name.label class+='form-control' %}
                                    <span class="input-group-btn">
                                        <input class="btn btn-primary" type="submit" value="Create">
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% if userteams %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                               <h3 class="panel-title">Create imageset</h3>
                            </div>
                            <div class="panel-body">
                                <form method="post" action="{% url 'images:create_imageset' %}">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="id_name">{{ imageset_creation_form.name.label }}</label>
                                        {% render_field imageset_creation_form.name class+='form-control' placeholder=imageset_creation_form.name.label %}
                                    </div>
                                    <div class="form-group">
                                        <label for="id_team">{{ imageset_creation_form.team.label }}</label>
                                        {% render_field imageset_creation_form.team class+='form-control' %}
                                    </div>
                                    <div class="form-group">
                                        <label for="id_location">{{ imageset_creation_form.location.label }}</label>
                                        {% render_field imageset_creation_form.location class+='form-control' placeholder=imageset_creation_form.location.label %}
                                    </div>
                                    <div class="form-group">
                                        <label for="id_public">{{ imageset_creation_form.public.label }} <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="Enables public users to read the imageset "></span></label>
                                        {% render_field imageset_creation_form.public %}
                                    </div>
                                    <div class="form-group">
                                        <label for="id_public_collaboration">
                                            {{ imageset_creation_form.public_collaboration.label }} <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="Enables public users to annotate and verify in the imageset, when it is set public "></span> </label>
                                        {% render_field imageset_creation_form.public_collaboration %}
                                    </div>
                                    <input class="btn btn-primary" type="submit" value="Create">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                           <h3 class="panel-title"><span class="glyphicon glyphicon-stats"></span> Imagetagger Stats</h3>
                        </div>
                        <table class="panel-body table">
                            <tr>
                                <td>
                                </td>
                                <th>
                                    Images
                                </th>
                                <th>
                                    Imagesets
                                </th>
                                {% for annotation_type in stats.annotation_types %}
                                    <th>
                                        {{ annotation_type.name.capitalize }}
                                        {{ annotation_type.0.capitalize }}
                                    </th>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>
                                    All
                                </td>
                                <td>
                                    {{ stats.all_images }}
                                </td>
                                <td>
                                    {{ stats.all_imagesets}}
                                </td>
                                {% for annotation_type in stats.annotation_types %}
                                    <td>
                                        {{ annotation_type.annotation_count }}
                                    </td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>
                                    Public
                                </td>
                                <td>
                                    {{ stats.public_images }}
                                </td>
                                <td>
                                    {{ stats.public_imagesets }}
                                </td>
                                {% for annotation_type in stats.annotation_types %}
                                    <td>
                                        {{ annotation_type.public_annotation_count }}
                                    </td>
                                {% endfor %}
                            </tr>
                        </table>
                        <hr>
                        <table class="panel-body table">
                            <tr>
                                <th>
                                    All Users
                                </th>
                                <th>
                                    Active Users <br>
                                    (50+ Points)
                                </th>
                                <th>
                                    All Teams
                                </th>
                                <th>
                                    Active Teams <br>
                                    (2+ Active Users)
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    {{ stats.all_users }}
                                </td>
                                <td>
                                    {{ stats.active_users }}
                                </td>
                                <td>
                                    {{ stats.all_teams }}
                                </td>
                                <td>
                                    {{ stats.active_teams }}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
