{% extends 'base/base.html' %}
{% load widget_tweaks %}

{% block bodyblock %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Home</h1>
        </div>
    </div>
    {% for message in global_annoucements %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        {{message.title}}
                        <div class="pull-right">
                            <a href="{% url 'tagger_messages:read_message' message.id %}">
                                <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                            </a>
                            {% if user == message.creator %}
                            <a href="{% url 'tagger_messages:delete_message' message.id %}">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    {{message.content}}
                    <hr style="margin-bottom: 0.8em">
                    <sub class="pull-left">
                        {{message.creator}}
                    </sub>
                    <sub class="pull-right">
                        {{message.start_time}}
                    </sub>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Imagesets</h2>
                </div>
                <div class="panel-body">
                    {% if request.user.pinned_sets.all %}
                        <h3>Pinned imagesets</h3>
                        <ul>
                            {% for imageset in user.pinned_sets.all %}
                                <li>
                                    {% if not imageset.public %}
                                        <span class="glyphicon glyphicon-lock"></span>
                                    {% endif %}
                                    <a href="{% url 'users:team' imageset.team.id %}">{{imageset.team.name}}</a>/<a href="{% url 'images:view_imageset' imageset.id%}">{{ imageset.name }}</a>
                                    ({{ imageset.image_count }} images) {{ imageset.prio_symbol | safe }}
                                    {% for tag in imageset.set_tags.all %}
                                        <a href="{% url 'images:explore_imageset' %}?tags={{ tag.name }}, " class="label label-info">{{ tag.name }}</a>
                                    {% endfor %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% if image_sets %}
                        <h3>My imagesets</h3>
                        <ul>
                            {% for imageset in image_sets %}
                                <li>
                                    {% if not imageset.public %}
                                        <span class="glyphicon glyphicon-lock"></span>
                                    {% endif %}
                                    <a href="{% url 'users:team' imageset.team.id %}">{{imageset.team.name}}</a>/<a href="{% url 'images:view_imageset' imageset.id%}">{{ imageset.name }}</a>
                                    ({{ imageset.image_count }} images) {{ imageset.prio_symbol | safe }}
                                    {% for tag in imageset.set_tags.all %}
                                        <a href="{% url 'images:explore_imageset' %}?tags={{ tag.name }}, " class="label label-info">{{ tag.name }}</a>
                                    {% endfor %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    Additional public imagesets, not belonging to any of your teams, can be found in the <a
                        href="{% url 'images:explore_imageset' %}">explore view</a> .
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">My Teams</h3>
                        </div>
                        <div class="panel-body">
                            <ul>
                                {% for team in userteams %}
                                <li><a href="{% url 'users:team' team.id %}">{{team.name}}</a></li>
                                {% endfor %}
                            </ul>
                            <hr>
                            <p>Create new team:</p>
                            <form method="post" action="{% url 'users:create_team' %}">
                                {% csrf_token %}
                                <div class="input-group" role="group" aria-label="team_creation">
                                    {% render_field team_creation_form.name placeholder=team_creation_form.name.label class+='form-control' %}
                                    <span class="input-group-btn">
                                        <input class="btn btn-primary" type="submit" value="Create">
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {% if usermessages %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                    Messages
                            </h3>
                        </div>
                        <div class="panel-body">

                            <h3 style="margin-bottom: 1em; margin-top: 0em;">
                                Postbox
                                {% if user_has_admin_teams %}
                                <div style="float: right">
                                    <input name="create_format" class="btn btn-default" value="New Message" data-toggle="modal" data-target="#newMessageModal" type="button">
                                </div>
                                {% endif %}
                                <div style="float: right; margin-right:1em;">
                                    <input class="btn btn-default" value="Read All" onclick="location.href = '{% url 'tagger_messages:read_all_messages' %}'" type="button">
                                </div>
                            </h3>
                            <div class="modal fade" id="newMessageModal" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <form method="post" action="{% url 'tagger_messages:send_team_message' %}">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">New Message</h4>
                                        </div>
                                        <div class="modal-body">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <label for="id_title">{{ team_message_creation_form.title.label }}: </label>
                                                    {% render_field team_message_creation_form.title class+='form-control' placeholder=team_message_creation_form.title.label %}
                                                </div>
                                                <div class="form-group">
                                                    <label for="id_content">{{ team_message_creation_form.content.label }}: </label>
                                                    {% render_field team_message_creation_form.content class+='form-control' placeholder=team_message_creation_form.content.label %}
                                                </div>
                                                <div class="form-group">
                                                    <label for="id_team">{{ team_message_creation_form.team.label }}: </label>
                                                    {% render_field team_message_creation_form.team class+='form-control'%}
                                                </div>
                                                <div class="form-group">
                                                    <label for="id_start_time">{{ team_message_creation_form.start_time.label }}: </label>
                                                    {% render_field team_message_creation_form.start_time class+='form-control' type='date'%}
                                                </div>
                                                <div class="form-group">
                                                    <label for="id_expire_time">{{ team_message_creation_form.expire_time.label }}: </label>
                                                    {% render_field team_message_creation_form.expire_time class+='form-control' type='date'%}
                                                </div>
                                                <div class="form-group">
                                                    <label for="id_admins_only">{{ team_message_creation_form.admins_only.label }}: </label>
                                                    {% render_field team_message_creation_form.admins_only %}
                                                </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button class="btn btn-primary" type="submit">Send</button>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {% for message in usermessages %}
                            <div class="panel panel-default">
                                <div class="panel-heading" {% if not user in message.read_by.all %} style="font-weight: bold;" {% endif %} >
                                    {{message.creator}}: {{message.title}}
                                    <div class="pull-right">
                                        {% if not user in message.read_by.all %}
                                        <a href="{% url 'tagger_messages:read_message' message.id %}">
                                            <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
                                        </a>
                                        {% endif %}
                                        {% if user == message.creator or user.is_staff %}
                                        <a href="{% url 'tagger_messages:delete_message' message.id %}">
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                        </a>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <p>{{message.content}}</p>
                                    <hr style="margin-bottom: 0.8em">
                                    <sub class="pull-left">
                                        {{message.team}}
                                    </sub>
                                    <sub class="pull-right">
                                        {{message.start_time}}
                                    </sub>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if userteams %}
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Create imageset</h3>
                        </div>
                        <div class="panel-body">
                            <form method="post" action="{% url 'images:create_imageset' %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="id_name">{{ imageset_creation_form.name.label }}</label>
                                    {% render_field imageset_creation_form.name class+='form-control' placeholder=imageset_creation_form.name.label %}
                                </div>
                                <div class="form-group">
                                    <label for="id_team">{{ imageset_creation_form.team.label }}</label>
                                    {% render_field imageset_creation_form.team class+='form-control' %}
                                </div>
                                <div class="form-group">
                                    <label for="id_location">{{ imageset_creation_form.location.label }}</label>
                                    {% render_field imageset_creation_form.location class+='form-control' placeholder=imageset_creation_form.location.label %}
                                </div>
                                <div class="form-group">
                                    <label for="id_public">{{ imageset_creation_form.public.label }} <span
                                            class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                                            data-placement="right"
                                            title="Enables public users to read the imageset "></span></label>
                                    {% render_field imageset_creation_form.public %}
                                </div>
                                <div class="form-group">
                                    <label for="id_public_collaboration">
                                        {{ imageset_creation_form.public_collaboration.label }} <span
                                            class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                                            data-placement="right"
                                            title="Enables public users to annotate and verify in the imageset, when it is set public "></span>
                                    </label>
                                    {% render_field imageset_creation_form.public_collaboration %}
                                </div>
                                <input class="btn btn-primary" type="submit" value="Create">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                           <h3 class="panel-title"><span class="glyphicon glyphicon-stats"></span> Imagetagger Stats</h3>
                        </div>
                        <table class="panel-body table">
                            <tr>
                                <td>
                                </td>
                                <th>
                                    Images
                                </th>
                                <th>
                                    Imagesets
                                </th>
                                {% for annotation_type in stats.annotation_types %}
                                    <th>
                                        {{ annotation_type.name.capitalize }}
                                    </th>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>
                                    All
                                </td>
                                <td>
                                    {{ stats.all_images }}
                                </td>
                                <td>
                                    {{ stats.all_imagesets}}
                                </td>
                                {% for annotation_type in stats.annotation_types %}
                                    <td>
                                        {{ annotation_type.annotation_count }}
                                    </td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>
                                    Public
                                </td>
                                <td>
                                    {{ stats.public_images }}
                                </td>
                                <td>
                                    {{ stats.public_imagesets }}
                                </td>
                                {% for annotation_type in stats.annotation_types %}
                                    <td>
                                        {{ annotation_type.public_annotation_count }}
                                    </td>
                                {% endfor %}
                            </tr>
                        </table>
                        <hr>
                        <table class="panel-body table">
                            <tr>
                                <th>
                                    All Users
                                </th>
                                <th>
                                    Active Users <br>
                                    (50+ Points)
                                </th>
                                <th>
                                    All Teams
                                </th>
                                <th>
                                    Active Teams <br>
                                    (2+ Active Users)
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    {{ stats.all_users }}
                                </td>
                                <td>
                                    {{ stats.active_users }}
                                </td>
                                <td>
                                    {{ stats.all_teams }}
                                </td>
                                <td>
                                    {{ stats.active_teams }}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
