{% extends 'base/base.html' %}
{% load widget_tweaks %}

{% block bodyblock %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Home</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Update Note</h2>
                </div>
                <div class="panel-body">
                    With our last update, we added a lot of features to the ImageTagger.
                    They include the annotation of polygons, lines and points, their import and export, an edit function for export types (in the team view) and image preloading in the verification view.
                    There might be some bugs left and if you find one, please notify us via <a target="_blank" href="https://github.com/bit-bots/imagetagger">GitHub</a>.
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Imagesets</h2>
                </div>
                <div class="panel-body">
                    <ul>
                        {% for imageset in image_sets %}
                            <li><a href="{% url 'users:team' imageset.team.id %}">{{imageset.team.name}}</a>/<a href="{% url 'images:view_imageset' imageset.id %}">{{imageset.name}}</a> ({{imageset.image_count}} images)</li>
                        {% endfor %}
                    </ul>
                    Additional public imagesets, not belonging to any of your teams, can be found in the <a href="{% url 'images:explore_imageset' %}">explore view</a> .
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">My Teams</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        {% for team in userteams %}
                            <li><a href="{% url 'users:team' team.id %}">{{team.name}}</a></li>
                        {% endfor %}
                    </ul>
                    <hr>
                    <p>Create new team:</p>
                    <form method="post" action="{% url 'users:create_team' %}">
                        {% csrf_token %}
                        {% render_field team_creation_form.name placeholder=team_creation_form.name.label %}
                        <input class="btn btn-primary" type="submit" value="Create">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
