{% load static %}<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" type="image/png" href="{% static 'symbols/bitbots-fav.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    {% block taggerimports %}{% endblock %}
    <title>Labeldings 0.8</title>
</head>
<body>
  {% block selectorblock %}{% endblock %}
<div class="main">
    <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand bitbot-logo" href="https://www.bit-bots.de" target="_blank"><img src="{% static 'symbols/bitbots-logo.png' %}" height="40px"></a>
          <a class="navbar-brand"  href="{% url 'images:index' %}">Imagetagger</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'images:index' %}">Home</a></li>
                {% block navblock %}{% endblock %}
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'images:explore_imageset' %}">Explore</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ request.user.username }} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% if request.user.is_authenticated %}
                                <li><a href="{% url 'users:user' user.id %}">Profile</a> </li>
                                <li><a href="{% url 'users:logout' %}">Logout</a></li>
                            {% else %}
                                <li><a href="{% url 'users:login' %}">Login</a></li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
            </ul>
      </div>
    </div>
</nav>
    <div class="content container-fluid">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
{% block bodyblock %}{% endblock %}
</div></div>
  <script type="text/javascript" src="{% static 'scripts/jquery-3.2.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'scripts/bootstrap.min.js' %}"></script>
  <script type="text/javascript">
    {# TODO: This block is deprecated. Should be within additional_js (or, actually, there should not be any inline javascript usage at all!) #}
    {% block individual_script %}{% endblock individual_script %}
  </script>
  {% block additional_js %}{% endblock additional_js %}
</body>
</html>
