{% extends 'base/base.html' %}
{% load static %}
{% block bodyblock %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Explore {{mode}}s</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a class="list-group-item{% if mode == 'imageset' %} active{% endif %}" href="{% url 'images:explore_imageset' %}">imagesets</a>
                <a class="list-group-item{% if mode == 'team' %} active{% endif %}" href="{% url 'users:explore_team' %}">teams</a>
                <a class="list-group-item{% if mode == 'user' %} active{% endif %}" href="{% url 'users:explore_user' %}">users</a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form action="{{ request.get_full_path }}" method="GET">
                                <div class="input-group" role="group" aria-label="input-group">
                                    <input class="form-control" id="searchbox" type="text" name="query" placeholder="Search for {{mode}}s" {% if query %}value="{{ query }}"{% endif %}>
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="submit">
                                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
                                        </button>
                                    </span>
                                </div>
                            </form>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <dl>
                                <table class="table table-striped">
                                {% for imageset in imagesets %}
                                    <tr>
                                        <td>
                                            <dt>
                                                {% if imageset.team %}
                                                    <a href="{% url 'users:team' imageset.team.id %}">{{imageset.team.name}}</a>/<a href="{% url 'images:view_imageset' imageset.id %}">{{imageset.name}}</a>
                                                {% else %}
                                                    <a href="{% url 'images:view_imageset' imageset.id %}">{{imageset.name}}</a>
                                                {% endif %}
                                            </dt>
                                            <dt>
                                                {% for tag in imageset.set_tags.all %}
                                                    <span class="label label-info">{{ tag.name }}</span>
                                                {% endfor %}
                                            </dt>
                                            <dd>
                                                {{ imageset.location }}
                                            </dd>
                                        </td>
                                    </tr>
                                {% endfor %}
                                {% for team in teams %}
                                    <tr>
                                        <td>
                                            <dt>
                                                <a href="{% url 'users:team' team.id %}">{{team.name}}</a>
                                            </dt>
                                        </td>
                                    </tr>
                                {% endfor %}
                                {% for user in users %}
                                    <tr>
                                        <td>
                                            <dt>
                                                <a href="{% url 'users:user' user.id %}">{{user.username}}</a>
                                            </dt>
                                        </td>
                                        <td class="align-right">
                                            {% if user.points %}
                                                {{ user.points }}
                                            {% else %}
                                                0
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </table>
                            </dl>
                            {% if paginator.has_other_pages %}
                                <div class="pagination">
                                    <hr>
                                    <span class="step-links">
                                        <div class="btn-group" role="group" aria-label="btn-group">
                                            {% if paginator.has_previous %}
                                                <a class="btn btn-default" href="?page=1{{ get_query }}">&laquo; first</a>
                                                <a class="btn btn-default" href="?page={{ paginator.previous_page_number }}{{ get_query }}">previous</a>
                                            {% endif %}
                                                <span class="current btn btn-default">
                                                    Page {{ paginator.number }} of {{ paginator.paginator.num_pages }}
                                                </span>
                                            {% if paginator.has_next %}
                                                <a class="btn btn-default" href="?page={{ paginator.next_page_number }}{{ get_query }}">next</a>
                                                <a class="btn btn-default" href="?page={{ paginator.paginator.num_pages }}{{ get_query }}">last &raquo;</a>
                                            {% endif %}
                                        </div>
                                    </span>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
