{% load static %}

{% block markdown_guide %}
<button type="button" class="btn btn-info" data-toggle="modal"
        data-target="#guide">
    Open markdown guide
</button>
<!-- Modal -->
<div class="modal fade" id="guide" tabindex="-1" role="dialog"
     aria-labelledby="guideModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="guideModalLabel">Markdown guide</h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>
                                <em>Alternative</em>
                            </th>
                            <th>Output</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>*Italic*</td>
                            <td>_Italic_</td>
                            <td>
                                <em>Italic</em>
                            </td>
                        </tr>
                        <tr>
                            <td>**Bold**</td>
                            <td>__Bold__</td>
                            <td>
                                <strong>Bold</strong>
                            </td>
                        </tr>
                        <tr>
                            <td># Heading 1</td>
                            <td>Heading 1<br>========</td>
                            <td>
                                <h1>Heading 1</h1>
                            </td>
                        </tr>
                        <tr>
                            <td>## Heading 2</td>
                            <td>Heading 2<br>--------------</td>
                            <td>
                                <h2>Heading 2</h2>
                            </td>
                        </tr>
                        <tr>
                            <td>&gt; Blockquote</td>
                            <td></td>
                            <td>
                                <blockquote>Blockquote</blockquote>
                            </td>
                        </tr>
                        <tr>
                            <td>A paragraph.<br><br> A paragraph after 1 blank line.</td>
                            <td></td>
                            <td>A paragraph.<br>A paragraph after 1 blank line.</td>
                        </tr>
                        <tr>
                            <td>* List<br> * List<br> * List</td>
                            <td>- List<br> - List<br> - List</td>
                            <td>
                                <ul>
                                    <li>List</li>
                                    <li>List</li>
                                    <li>List</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>1. One<br> 2. Two<br> 3. Three</td>
                            <td></td>
                            <td>
                                <ol>
                                    <li>One</li>
                                    <li>Two</li>
                                    <li>Three</li>
                                </ol>
                            </td>
                        </tr>
                        <tr>
                            <td>Horizontal Rule<br><br> -----------</td>
                            <td>Horizontal Rule<br><br> ***********</td>
                            <td>Horizontal Rule
                                <hr>
                            </td>
                        </tr>
                        <tr>
                            <td>`Inline code` with backticks</td>
                            <td></td>
                            <td>
                                <code>Inline code</code> with backticks
                            </td>
                        </tr>
                        <tr>
                            <td>[Link](http://url.org)</td>
                            <td></td>
                            <td><a href="#">Link</a></td>
                        </tr>
                        <tr>
                            <td>![Image](http://url/image.png)</td>
                            <td></td>
                            <td>
                                <img src="{% static 'symbols/bitbots-logo.png' %}" alt="Image">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <hr>
                <em>Template by
                    <a target="_blank" rel="noopener noreferrer"
                       href="https://github.com/agusmakmun/django-markdown-editor#martor-commands-refference">
                        agusmakmun
                    </a>.
                </em>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock markdown_guide %}