{% extends "base/base.html" %}
{% load i18n %}
{% load static %}

{% if use_sentry %}
    {% block taggerimports %}<script src="{% static 'scripts/sentry.min.js' %}"></script>{% endblock %}
{% endif %}

{% block bodyblock %}
    {% if use_sentry %}
        <script>Sentry.init({ dsn: '{{ sentry_dsn }}'});</script>
    {% endif %}
    <div class="container"><section class="section">
    <div class="col-md-5">
    <h1>Internal Server Error (500)</h1>
    <p>
        {% trans "We're sorry, but we didn't expect this to happen." %}
        {% if use_sentry %}{% trans "Our error reporting tool should have sent an email to us with some technical details." %}{% endif %}
        {% trans "Please try again later." %}
        {% trans "If the problem persists, see our" %} <a href="{% url 'base:problem' %}">{% trans "problem reporting page" %}</a>.
    </p>
    {% if use_sentry %}
        <p>{% blocktrans %}We have recorded the error under the Identifier {{ event_id }}.{% endblocktrans %}</p>
        <script>
            Sentry.showReportDialog({
                eventId: '{{ event_id }}'
            });{# TODO: User ausfüllen wenn angemeldet? #}
        </script>
    {% endif %}
    </div><div class="col-md-offset-1 col-md-5"><img src="{% static 'symbols/server-Bit.png' %}" style="width: 100%;"></div>
</section> </div>
{% endblock %}
