{% extends "base/base.html" %}
{% load i18n %}
{% load static %}
{% load raven %} {# TODO: nur wen raven/sentry aktiviert ist #}
{% block wtitle %}{% block ptitle %}{% trans "Internal server error" %}{% endblock %}{% endblock %}
{% block headJS %}<script src="{% static 'scripts/raven.min.js' %}"></script>{% endblock %}
{% sentry_public_dsn 'https' %}
{% block content %}
<script>Raven.config('{% sentry_public_dsn %}').install()</script>
{% url 'base_problems' as problems_url %}
    <div class="container"><section class="section">
    <div class="col-md-5">
    <h1>Internal Server Error (500)</h1>
<p>{% blocktrans %}We're sorry, but we didn't expect this to happen. Our error reporting tool should have sent an email to us with some technical details. Please try again later. If the problem persists, see our <a href="{{ problems_url }}">problem reporting page</a>.{% endblocktrans %}</p>
    {% if request.sentry.id %}
        {% with request.sentry.id as errorid %}
            <p>{% blocktrans %}We have recorded the error under the Identifier {{ errorid }}.{% endblocktrans %}</p>
            <script >
                Raven.showReportDialog({
                    eventId: '{{ errorid }}',
                    dsn: '{% sentry_public_dsn %}'
                });{# TODO: User ausfüllen wen angemeldet? #}
            </script>
        {% endwith %}
    {% endif %}
    </div><div class="col-md-offset-1 col-md-5"><img src="{% static 'symbols/server-Bit.png' %}"></div>
</section> </div>
{% endblock %}

