{% load i18n %}
{% blocktrans %}
    <p>Use the following placeholders to integrate specific details into your Format:</p>
    <p><b>%%imagename:</b> name of the image </p>
    <p><b>%%imagewidth:</b> width of the image</p>
    <p><b>%%imageheight:</b> height of the image</p>
    <p><b>%%imageset:</b> name of the imageset</p>
    <p><b>%%imageid:</b> the id of the image (guaranteed to be unique for each image)</p>
    <p><b>%%annoamount:</b> number of annotations for the image </p>
    <p><b>%%annotations:</b> the content of the annotation format and the not in image format</p>
{% endblocktrans %}
