{% load static %}
<head>
    <meta charset="utf-8" />
    <script type="text/javascript" src="{% static 'scripts/jquery.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
    {% block taggerimports %}{% endblock %}
    <script type="text/javascript">
    {% block individual_script %}{% endblock %}
	</script>
    <title>Labeldings 0.8</title>
</head>
<body>
  {% block selectorblock %}{% endblock %}

<div class="main">
    <div class="head">
      <div style="display: inline">
          <a href="https://www.bit-bots.de" target="_blank"><img src="{% static 'symbols/bitbots-logo.png' %}" height="40px"></a>
          <h1 style="display: inline">Imagetagger</h1>
      </div>
      <div style="float: right; padding-top: 10px;">
        <a class="navbar" href="{% url 'images_index' %}">Home</a>
        {% block navblock %}{% endblock %}
        {% if user.is_authenticated %}
          <a class="navbar" href="{% url 'images_logout' %}">Logout ({{ request.user.username }})</a>
        {% else %}
          <a class="navbar" href="{% url 'admin_login' %}">Login</a>
        {% endif %}
      </div>
    </div>
{% block bodyblock %}{% endblock %}
</div>
</body>
