{% extends 'images/base.html' %}
{% load static %}
{% block bodyblock %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Explore {{mode}}s</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                {% if mode == 'imageset' %}
                    <a class="list-group-item active" href="{% url 'images_exploreimagesetview' %}">imagesets</a>
                {% else %}
                    <a class="list-group-item" href="{% url 'images_exploreimagesetview' %}">imagesets</a>
                {% endif %}
                {% if mode == 'team' %}
                    <a class="list-group-item active" active href="{% url 'images_exploreteamview' %}">teams</a>
                {% else %}
                    <a class="list-group-item" href="{% url 'images_exploreteamview' %}">teams</a>
                {% endif %}
                {% if mode == 'user' %}
                    <a class="list-group-item active" href="{% url 'images_exploreuserview' %}">users</a>
                {% else %}
                    <a class="list-group-item" href="{% url 'images_exploreuserview' %}">users</a>
                {% endif %}
            </div>
        </div>
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form action="" method="post">
                                {% csrf_token %}
                                    <input id="searchbox" type="text" name="searchquery" placeholder="Search for {{mode}}s"> <input type="submit" class="btn btn-primary" value="Search">
                            </form>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <dl>
                                {% for imageset in imagesets %}
                                    {% if imageset.team %}
                                        <dt>
                                            <a href="{% url 'images_teamview' imageset.team.id %}">{{imageset.team.name}}</a>/<a href="{% url 'images_imagesetview' imageset.id %}">{{imageset.name}}</a>
                                        </dt>
                                    {% else %}
                                        <dt>
                                            <a href="{% url 'images_imagesetview' imageset.id %}">{{imageset.name}}</a>
                                        </dt>
                                     {% endif %}
                                        <dd>
                                            {{ imageset.location }}
                                        </dd>
                                {% endfor %}
                                {% for team in teams %}
                                    <dt>
                                        <a href="{% url 'images_teamview' team.id %}">{{team.name}}</a>
                                    </dt>
                                {% endfor %}
                                {% for user in users %}
                                    <dt>
                                        <a href="{% url 'images_userview' user.id %}">{{user.username}}</a>
                                    </dt>
                                {% endfor %}
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
