
{% extends 'images/base.html' %}
{% block bodyblock %}
<div>
    <div class="leftcontent">
        <h1>Group-profile of {{ group.name }}</h1>
        {% if is_member %}
        Add Member:
        <form method="post" action="{% url 'images_groupview' group.id %}">
        {% csrf_token %}
            <input type="text" placeholder="username" maxlength="20" name="username"> <input type="submit" value="Add">
        </form>
        {% endif %}

        Members:
        <ul>
            {% for member in memberset %}
            <li><a href="{% url 'images_userview' member.id %}">{{member.username}}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
