{% extends 'images/base.html' %}
{% load static %}

{% block taggerimports %}

<!-- Bootstrap styles -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
<link rel="stylesheet" href="{% static 'jQuery-File-Upload/css/jquery.fileupload.css' %}">
<link rel="stylesheet" href="{% static 'jQuery-File-Upload/css/jquery.fileupload-ui.css' %}">

<!-- The template to display files available for upload -->
{% verbatim %}
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            <p class="name">{%=file.name%}</p>
            <strong class="error text-danger"></strong>
        </td>
        <td>
            <p class="size">Processing...</p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
        </td>
        <td>
            {% if (!i && !o.options.autoUpload) { %}
                <button class="btn btn-primary start" disabled>
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Start</span>
                </button>
            {% } %}
            {% if (!i) { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        <td>
            <span class="preview">
                {% if (file.thumbnailUrl) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">
                {% if (file.url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                {% } else { %}
                    <span>{%=file.name%}</span>
                {% } %}
            </p>
            {% if (file.error) { %}
                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
            {% if (file.deleteUrl) { %}
                <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>Delete</span>
                </button>
                <input type="checkbox" name="delete" value="1" class="toggle">
            {% } else { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>

{% endverbatim %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="{% static 'jQuery-File-Upload/js/vendor/jquery.ui.widget.js' %}"></script>
<!-- The Templates plugin is included to render the upload/download listings -->
<script src="//blueimp.github.io/JavaScript-Templates/js/tmpl.min.js"></script>
<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<script src="//blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js"></script>
<!-- The Canvas to Blob plugin is included for image resizing functionality -->
<script src="//blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="{% static 'jQuery-File-Upload/js/jquery.iframe-transport.js' %}"></script>
<!-- The basic File Upload plugin -->
<script src="{% static 'jQuery-File-Upload/js/jquery.fileupload.js' %}"></script>
<!-- The File Upload processing plugin -->
<script src="{% static 'jQuery-File-Upload/js/jquery.fileupload-process.js' %}"></script>
<!-- The File Upload image preview & resize plugin -->
<script src="{% static 'jQuery-File-Upload/js/jquery.fileupload-image.js' %}"></script>
<!-- The File Upload validation plugin -->
<script src="{% static 'jQuery-File-Upload/js/jquery.fileupload-validate.js' %}"></script>
<!-- The File Upload user interface plugin -->
<script src="{% static 'jQuery-File-Upload/js/jquery.fileupload-ui.js' %}"></script>
<!-- The main application script -->
<script src="{% static 'jQuery-File-Upload/js/main.js' %}"></script>
<![endif]-->
{% endblock %}
{% block bodyblock %}
{% load guardian_tags %}
{% get_obj_perms request.user for imageset as "imageset_perms" %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            {% if images %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Images</h2>
                    </div>
                    <div class="panel-body">
                        <ul>
                            {% for image in images %}
                                <li>
                                    <a href="{% url 'images_tagview' image.id %}"> {{image.name}}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">{{imageset.name}}</h2>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td>Name</td>
                                    <td>{{imageset.name}}</td>
                                </tr>
                                <tr>
                                    <td>Team</td>
                                    <td>{{imageset.team.name}}</td>
                                </tr>
                                <tr>
                                    <td>Location</td>
                                    <td>{{imageset.location}}</td>
                                </tr>
                                <tr>
                                    <td>Description</td>
                                    <td>{{imageset.description}}</td>
                                </tr>
                                <tr>
                                    <td>Image count</td>
                                    <td>{{imageset.image_count}}</td>
                                </tr>
                                <tr>
                                    <td>Annotation count</td>
                                    <td>{{annotationcount}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% if "edit_set" in imageset_perms %}
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Imageset management</h2>
                    </div>
                    <div class="panel-body">
                        <div>
                            <table class="table table-striped">
                                <tbody>
                                    <form id="edit_set" action="{% url 'images_imageseteditview' imageset.id %}" method="POST">
                                        {% csrf_token %}
                                    <tr>
                                        <td>
                                            <label for="name_field">Name:</label>
                                        </td>
                                        <td>
                                            <input type="text" id="name_field" name="name" value="{{imageset.name}}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="location">Location: </label>
                                        </td>
                                        <td>
                                            <input type="text" id="location" name="location" value="{{imageset.location}}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="description">Description: </label>
                                        </td>
                                        <td>
                                            <input type="text" id="description" name="description" value="{{imageset.description}}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="public">Public: </label>
                                        </td>
                                        <td>
                                            <input type="checkbox" id="public" name="public" {% if imageset.public  %} checked="" {% endif %}>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="image-lock">Image-lock: </label>
                                        </td>
                                        <td>
                                            <input type="checkbox" id="image-lock" name="image-lock" {% if imageset.image_lock  %} checked="" {% endif %}>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            {% if "delete_set" in imageset_perms %}
                                                <a class="btn btn-danger" href="{% url 'images_imagesetdeleteview' imageset.id %}">Delete Set</a>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <button class="btn btn-primary" type="submit">Save changes</button>
                                        </td>
                                    </tr>
                                    </form>
                                </tbody>
                            </table>
                        </div>
                        Upload new images: <br>
                        <div >
                            <form id="fileupload" action="{% url 'images_imageuploadview' imageset.id %}" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                                <div class="row fileupload-buttonbar">
                                    <div class="col-lg-12">
                                        <!-- The fileinput-button span is used to style the file input field as button -->
                                        <span class="btn btn-success fileinput-button">
                                            <i class="icon-plus icon-white"></i>
                                            <span>Add files...</span>
                                            <input type="file" name="files[]" multiple>
                                        </span>
                                        <button type="submit" class="btn btn-primary start">
                                            <i class="icon-upload icon-white"></i>
                                            <span>Start upload</span>
                                        </button>
                                        <button type="reset" class="btn btn-warning cancel">
                                            <i class="icon-ban-circle icon-white"></i>
                                            <span>Cancel upload</span>
                                        </button>
                                        <button type="button" class="btn btn-danger delete">
                                            <i class="icon-trash icon-white"></i>
                                            <span>Delete</span>
                                        </button>
                                        <input type="checkbox" class="toggle">
                                        <!-- The global file processing state -->
                                        <span class="fileupload-process"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- The global progress state -->
                                    <div class="col-lg-12 fileupload-progress">
                                        <!-- The global progress bar -->
                                        <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                            <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                                        </div>
                                        <!-- The extended global progress state -->
                                        <div class="progress-extended">&nbsp;</div>
                                    </div>
                                </div>
                                <!-- The table listing the files available for upload/download -->
                                <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="col-md-3">
            {% if first_annotation %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Annotation management</h2>
                    </div>
                    <div class="panel-body">
                        <li><a href="{% url 'images_annotationmanageview' imageset.id %}">Manage annotations</a></li>
                        <li><a href="{% url 'images_verifyview' first_annotation.id %}">Verify annotations</a></li>
                    </div>
                </div>
            {% endif %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Export tags to file</h2>
                </div>
                <div class="panel-body">
                    <form method="post" action="{% url 'images_exportview' imageset.id %}" enctype="multipart/form-data">
                        {% csrf_token %}
                            {% comment %}
                                {% for annotationtype in annotationtypes %}
                                    <li><input type="checkbox" name="selected_annotation_type" value="{{annotationtype.id}}"> {{annotationtype.name}}</li>
                                {% endfor %}
                            {% endcomment %}
                        <select name="export_format">
                            <option value="Bit-Bot AI">Bit-Bot AI</option>
                        </select>
                        <input type="submit" value="Export">
                    </form>
                    {% if exports %}
                        <h3>Download exports:</h3>
                        {% for export in exports %}
                            <li><a href="{% url 'images_index' %}export/{{export.id}}/download/">{{export.type}}: {{export.time|date:'j. N Y H:i:s'}}</a></li>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
