
{% extends 'images/base.html' %}
{% block bodyblock %}
<h1>Home</h1>
<div>
    <div class="leftcontent">
        <h2>Imagesets</h2>
        <ul>
{% for imageset in image_sets %}
    <li><a href="{% url 'images_teamview' imageset.team.id %}">{{imageset.team.name}}</a>/<a href="{% url 'images_imagesetview' imageset.id %}">{{imageset.name}}</a></li>
{% endfor %}
        </ul>
    </div>
    <div class="toolbox">
        <h3>My Teams</h3>
        <ul>
        {% for team in userteams %}
            <li><a href="{% url 'images_teamview' team.id %}">{{team.name}}</a></li>
        {% endfor %}
        </ul>
        <hr>
        <p>Create new team:</p>
        <form method="post" action="{% url 'images_createteamview' %}">
        {% csrf_token %}
            <input type="text" placeholder="Teamname" maxlength="20" name="teamname"> <input type="submit" value="Create">
        </form>
    </div>
</div>
{% endblock %}
