{% extends 'images/base.html' %}
{% block bodyblock %}
<div class="filelist">
<ul>
{% for image in images %}
    <li><a href="{% url 'images_tagview' image.id %}"> {{image.name}}</a></li>
{% endfor %}
</ul>
</div>
<div class="toolbox">
  <h2>Management</h2>
  <li><a href="{% url 'images_annotationmanageview' imageset.id %}">Manage annotations</a>
  {% if first_annotation %}
  <li><a href="{% url 'images_verifyview' first_annotation.id %}">Verify annotations</a>
  {% endif %}
  <br>&nbsp;<br>
  <h2>Export tags to file</h2>
    <form method="post" action="{% url 'images_exportview' imageset.id %}" enctype="multipart/form-data">
    {% csrf_token %}
    {% comment %}
    {% for annotationtype in annotationtypes %}
    <li><input type="checkbox" name="selected_annotation_type" value="{{annotationtype.id}}"> {{annotationtype.name}}</li>
    {% endfor %}
    i{% endcomment %}
    <select name="export_format">
      <option value="Bit-Bot AI">Bit-Bot AI</option>
    </select>
    <input type="submit" value="Export">
</form>
{% if exports %}
  <hr>
  <h3>Download exports:</h3>
  {% for export in exports %}
  <li><a href="{% url 'images_index' %}export/{{export.id}}/download/">{{export.type}}: {{export.time|date:'j. N Y H:i:s'}}</a></li>
  {% endfor %}
{% endif %}
</div>
{% endblock %}
