<head>
    <meta charset="utf-8" />
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/imgareaselect-default.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/cursor.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}" />
    <script type="text/javascript" src="{% static "scripts/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "scripts/jquery.imgareaselect.pack.js" %}"></script>
    <title>Labeldings 0.4</title>

</head>
<body>
<script type="text/javascript">
    var selection;
    var image_scale = 0;

    $(document).ready(function () {

        var image = $('img#picture');
        image_scale =  image.get(0).naturalWidth / image.width();
        selection = $('img#picture').imgAreaSelect({
            instance: true,
            handles: true,
            minHeight: 10,
            minWidth: 10,
            onSelectChange: function (img, selection) {

                $('#x1Field').val(Math.ceil(selection.x1 * image_scale));
                $('#y1Field').val(Math.ceil(selection.y1 * image_scale));
                $('#x2Field').val(Math.floor(selection.x2 * image_scale));
                $('#y2Field').val(Math.floor(selection.y2 * image_scale));
            }
        });
        $('#x1Field')[0].oninput = function () {
            reload_selection();
        };
        $('#y1Field')[0].oninput = function () {
            reload_selection();
        };
        $('#x2Field')[0].oninput = function () {
            reload_selection();
        };
        $('#y2Field')[0].oninput = function () {
            reload_selection();
        };

        $('#reset_button').click(function(){
            $('#x1Field').val(0);
            $('#y1Field').val(0);
            $('#x2Field').val(0);
            $('#y2Field').val(0);
            selection.cancelSelection();
        });

        {% if next_image %}
        $('#next_button').click(function(){
            $('#annotation_form').attr('action', '{% url 'images_tagview' next_image.id %}');
            $('#annotation_form').submit();
            $('#skip_button').click(function(){window.location.href="{% url 'images_tagview' next_image.id %}"});
        });
        $('#skip_button').click(function(){window.location.href="{% url 'images_tagview' next_image.id %}"});
        {% else %}
        $('#next_button').attr('disabled', 'true');
        $('#skip_button').attr('disabled', 'true');
        {% endif %}
            
        {% if last_image %}  
        $('#last_button').click(function(){
            $('#annotation_form').attr('action', '{% url 'images_tagview' last_image.id %}');
            $('#annotation_form').submit();
        });  
        $('#back_button').click(function(){window.location.href="{% url 'images_tagview' last_image.id %}"});
        {% else %}
        $('#last_button').attr('disabled', 'true');
        $('#back_button').attr('disabled', 'true');
        {% endif %}


        

        var cH = $('#crosshair-h'),
                cV = $('#crosshair-v');

        $(this).on('mousemove touchmove', function(e) {
            var x = e.pageX - 1;
            var y = e.pageY - 1;
            cH.css('top', e.pageY +1);
            cV.css('left', e.pageX +1);

            $('#mousepos').css({
                top: e.pageY + 'px',
                left: e.pageX  + 'px'
            }, 800);
            $('#mousepos').text( "X: " + x + "px, Y: " + y + "px");
            e.stopPropagation();
        });

    });

    function reload_selection() {
        selection.setSelection(($('#x1Field').val() / image_scale), ($('#y1Field').val() / image_scale), ($('#x2Field').val() / image_scale), ($('#y2Field').val() / image_scale));
        selection.update();
    }
</script>

<div id="crosshair-h" class="hair"></div>
<div id="crosshair-v" class="hair"></div>

<div class="main">
    <div class="head">
    </div>
    <div class="filelist">
        {{selected_image.image_set.name}}
        {% for set_image in set_images %}
        <li><a href="{% url 'images_tagview' set_image.id %}"> {{set_image.name}}</a></li>
        {% endfor %}
    </div>

    <div class="imageview">
        <img id="picture" src="{% static selected_image.full_path %}" alt="Picture {% static "pictures" selected_image.get_path %} not found!" width="100%"></br>
        <hr color="silver" width="100%">
        {% if image_annotations.all %}
        Annotations:
        {% for annotation in image_annotations %}
        <li> {{annotation.type.name}}: <br>{{annotation.vector}}</li>
        {% endfor %}
        {% else %}
        No annotations found.
        {% endif %}
    </div>

    <div class="toolbox">
        {{selected_image.name}}
        <form id="annotation_form" action="{% url 'images_tagview' selected_image.id %}" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <input type="hidden" name="image_id" value="{{ selected_image.id }}">
            <select name="selected_annotation_type">
                {% for annotation_type in annotation_types %}
                    <option value="{{annotation_type.id}}" selected>{{annotation_type.name}}</option>
                {% endfor %}
            </select>
            <table border="1">
                <tr>
                    <td>Key</td>
                    <td>Value</td>
                </tr>
                <tr>
                    <td>X1</td>
                    <td><input id="x1Field" class="Coordinates" type="number" name="x1Field" value="0"></td>
                </tr>
                <tr>
                    <td>Y1</td>
                    <td><input id="y1Field" class="Coordinates" type="number" name="y1Field" value="0"></td>
                </tr>
                <tr>
                    <td>X2</td>
                    <td><input id="x2Field" class="Coordinates" type="number" name="x2Field" value="0"></td>
                </tr>
                <tr>
                    <td>Y2</td>
                    <td><input id="y2Field" class="Coordinates" type="number" name="y2Field" value="0"></td>
                </tr>
            </table>
            <input type="submit" value="Save"><input id="reset_button" type="button" value="Reset"><br>
            <input id="last_button" type="button" value="Last">
            <input id="back_button" type="button" value="Back">
            <input id="skip_button" type="button" value="Skip">
            <input id="next_button" type="button" value="Next">
        </form>
    </div>
</div>

</body>
