<head>
    <meta charset="utf-8" />
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/imgareaselect-default.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/cursor.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}" />
    <script type="text/javascript" src="{% static "scripts/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "scripts/jquery.imgareaselect.pack.js" %}"></script>
    <script type="text/javascript" src="{% static "scripts/scripts.js" %}"></script>
    <script type="text/javascript">
    function init_navigationbuttons() {
        {% if next_image %}
        $('#next_button').click(function(){
            $('#annotation_form').attr('action', '{% url 'images_tagview' next_image.id %}');
            $('#annotation_form').submit();
        });
        $('#skip_button').click(function(){window.location.href="{% url 'images_tagview' next_image.id %}"});
        {% else %}
        $('#next_button').attr('disabled', 'true');
        $('#skip_button').attr('disabled', 'true');
        {% endif %}

        {% if last_image %}
        $('#last_button').click(function(){
            $('#annotation_form').attr('action', '{% url 'images_tagview' last_image.id %}');
            $('#annotation_form').submit();
        });
        $('#back_button').click(function(){window.location.href="{% url 'images_tagview' last_image.id %}"});
        {% else %}
        $('#last_button').attr('disabled', 'true');
        $('#back_button').attr('disabled', 'true');
        {% endif %}
    }

		</script>
    <title>Labeldings 0.6</title>
</head>
<body>

<div id="crosshair-h" class="hair"></div>
<div id="crosshair-v" class="hair"></div>
<span id="mousepos" >(0,0)</span>

<div class="main">
    <div class="head">
    </div>
    <div class="filelist">
        {{selected_image.image_set.name}}<br>
        {% for set_image in set_images %}
        <a href="{% url 'images_tagview' set_image.id %}"> {{set_image.name}}</a>
        {% endfor %}
    </div>

    <div class="imageview">
        <img id="picture" src="{% static selected_image.full_path %}" alt="Picture {% static "pictures" selected_image.get_path %} not found!" width="100%"></br>
        <hr color="silver" width="100%">
        {% if image_annotations.all %}
        Annotations:
        {% for annotation in image_annotations %}
        <div class="annotation">
            {{annotation.type.name}}:
            <a href="{% url 'images_tageditview' selected_image.id annotation.id%}">edit</a>
            <a href="{% url 'images_tagdeleteview' selected_image.id annotation.id%}">delete</a>
            <br>{{annotation.vector}}
        </div>
        {% endfor %}
        {% else %}
        No annotations found.
        {% endif %}
    </div>

    <div class="toolbox">
        {{selected_image.name}}
        <form id="annotation_form" action="{% url 'images_tagview' selected_image.id %}" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <input type="hidden" name="image_id" value="{{ selected_image.id }}">
            <select name="selected_annotation_type">
                {% for annotation_type in annotation_types %}
                <option value="{{annotation_type.id}}" selected>{{annotation_type.name}}</option>
                {% endfor %}
            </select>
            <table border="1">
                <tr>
                    <td>Key</td>
                    <td>Value</td>
                </tr>
                <tr>
                    <td>X1</td>
                    <td><input id="x1Field" class="Coordinates" type="number" name="x1Field" value="0"></td>
                </tr>
                <tr>
                    <td>Y1</td>
                    <td><input id="y1Field" class="Coordinates" type="number" name="y1Field" value="0"></td>
                </tr>
                <tr>
                    <td>X2</td>
                    <td><input id="x2Field" class="Coordinates" type="number" name="x2Field" value="0"></td>
                </tr>
                <tr>
                    <td>Y2</td>
                    <td><input id="y2Field" class="Coordinates" type="number" name="y2Field" value="0"></td>
                </tr>
            </table>
            <input type="submit" value="Save"><input id="reset_button" type="button" value="Reset" onclick="reset_selection()"><br>
            <input id="last_button" type="button" value="Last">
            <input id="back_button" type="button" value="Back">
            <input id="skip_button" type="button" value="Skip">
            <input id="next_button" type="button" value="Next">
        </form>
    </div>
</div>
</body>
