
{% extends 'images/base.html' %}
{% block bodyblock %}
{% load guardian_tags %}
{% get_obj_perms request.user for team as "team_perms" %}
<div>
    <div class="leftcontent">
        <h1>Group-profile of {{ team.name }}</h1>
        {% if pub_imagesets %}
        <h3>Public Imagesets:</h3>
        <ul>
            {% for imageset in pub_imagesets %}
            <li><a href="{% url 'images_imagesetview' imageset.id%}">{{imageset.name}}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if is_member %}
        {% if priv_imagesets %}
        <h3>Private Imagesets:</h3>
        <ul>
            {% for imageset in priv_imagesets %}
            <li><a href="{% url 'images_imagesetview' imageset.id%}">{{imageset.name}}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if "user_management" in team_perms %}
        <h3>Add Member:</h3>
        <form method="post" action="{% url 'images_teamview' team.id %}">
        {% csrf_token %}
            <input type="text" placeholder="username" maxlength="20" name="username"> <input type="submit" value="Add">
        </form>
        {% endif %}
        <hr>
        <a href="{% url 'images_leaveteamview' team.id %}">leave group</a>
        <hr>
        {% endif %}

        <h3>Members:</h3>
        <ul>
            {% for member in memberset %}
            <li><a href="{% url 'images_userview' member.id %}">{{member.username}}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
