
{% extends 'images/base.html' %}
{% block bodyblock %}
{% load guardian_tags %}
{% get_obj_perms request.user for team as "team_perms" %}
<div>
    <h1>Team-profile of {{ team.name }}</h1>
    <div class="leftcontent">
        {% if pub_imagesets %}
        <h3>Public Imagesets:</h3>
        <ul>
            {% for imageset in pub_imagesets %}
            <li><a href="{% url 'images_imagesetview' imageset.id%}">{{imageset.name}}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if is_member %}
        {% if priv_imagesets %}
        <h3>Private Imagesets:</h3>
        <ul>
            {% for imageset in priv_imagesets %}
            <li><a href="{% url 'images_imagesetview' imageset.id%}">{{imageset.name}}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if no_admin %}
        This team has no admin! <a href="{% url 'images_enthroneuserview' team.id request.user.id %}">I want to be admin!</a>
        {% endif %}
        {% if "user_management" in team_perms %}
        <h3>Add Member:</h3>
        <form method="post" action="{% url 'images_teamview' team.id %}">
        {% csrf_token %}
            <input type="text" placeholder="username" maxlength="20" name="username"> <input type="submit" value="Add">
        </form>
        {% endif %}
        <hr>
        <a href="{% url 'images_leaveteamview' team.id %}">leave group</a>
        <hr>
        {% endif %}

        <h3>Members:</h3>
        <ul>
            {% for member in memberset %}
            <li>
                <a href="{% url 'images_userview' member.id %}">{{member.username}}</a>
                {% if "user_management" in team_perms %}
                    <a href="{% url 'images_kickuserview' team.id member.id %}"> [kick]</a>
                    {% if member in admins %}
                        <a href="{% url 'images_dethroneuserview' team.id member.id %}"> [dethrone]</a>
                    {% else %}
                        <a href="{% url 'images_enthroneuserview' team.id member.id %}"> [enthrone]</a>
                    {% endif %}
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="toolbox">
        <h3>Create imageset</h3>
        <form method="post" action="{% url 'images_imagesetcreateview' team.id %}">
            {% csrf_token %}
            <label for="name">Name: </label>
            <input type="text" id="name" name="name"><br>
            <label for="location">Location: </label>
            <input type="text" id="location" name="location"><br>
            <label for="public">Public: </label>
            <input type="checkbox" id="public" name="public"><br>
            <input type="submit" value="Create">
        </form>
    </div>
</div>
{% endblock %}
