{% extends 'images/tagger_base.html' %}
{% load static %}
{% block individual_script %}
    function init_navigationbuttons() {
        {% if next_image %}
        $('#next_button').click(function(){
            $('#annotation_form').attr('action', '{% url 'images_tagview' next_image.id %}');
            $('#annotation_form').submit();
        });
        $('#skip_button').click(function(){window.location.href="{% url 'images_tagview' next_image.id %}"});
        {% else %}
        $('#next_button').attr('disabled', 'true');
        $('#skip_button').attr('disabled', 'true');
        {% endif %}

        {% if last_image %}
        $('#last_button').click(function(){
            $('#annotation_form').attr('action', '{% url 'images_tagview' last_image.id %}');
            $('#annotation_form').submit();
        });
        $('#back_button').click(function(){window.location.href="{% url 'images_tagview' last_image.id %}"});
        {% else %}
        $('#last_button').attr('disabled', 'true');
        $('#back_button').attr('disabled', 'true');
        {% endif %}
    }
{% endblock %}
{% block bodyblock %}
    <div class="filelist">
        <a href="{% url 'images_overview' selected_image.image_set.id %}"><u><h3 align="center">{{selected_image.image_set.name}}</h3></u></a>
        {% for set_image in set_images %}
        {% if set_image.id == selected_image.id %}
        <b id="selected_image_row">{{set_image.name}}</b><br>
        {% else %}
        <a href="{% url 'images_tagview' set_image.id %}"> {{set_image.name}}</a><br>
        {% endif %}
        {% endfor %}
    </div>

    <div class="imageview">
        <img id="picture" src="{% static selected_image.full_path %}" alt="Picture {% static "pictures" selected_image.get_path %} not found!" width="100%"></br>
        <hr color="silver" width="100%">
        {% if image_annotations.all %}
        <u>Annotations:</u>
        {% for annotation in image_annotations %}
        <div class="annotation">
            {{annotation.type.name}}:
            <div style="float: right;"><a href="{% url 'images_tageditview' selected_image.id annotation.id%}"><img src="{% static "symbols/pencil.png" %}" alt="edit"></a>
            <a href="{% url 'images_tagdeleteview' selected_image.id annotation.id%}"><img src="{% static "symbols/bin.png" %}" alt="delete"></a></div>
            <br>{{annotation.vector}}
        </div>
        {% endfor %}
        {% else %}
        No annotations found.
        {% endif %}
    </div>

    <div class="toolbox">
        <u><h3 align="center">{{selected_image.name}}</h3></u>
        <form id="annotation_form" action="{% url 'images_tagview' selected_image.id %}" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <input type="hidden" name="image_id" value="{{ selected_image.id }}">
            Annotation type: <select name="selected_annotation_type">
                {% for annotation_type in annotation_types %}
                <option value="{{annotation_type.id}}"  {% if annotation_type.id == last_annotation_type_id %} selected {% endif %} >{{annotation_type.name}}</option>
                {% endfor %}
            </select>
            <table border="1">
                <tr>
                    <td>Key</td>
                    <td>Value</td>
                </tr>
                <tr>
                    <td>X1</td>
                    <td><input id="x1Field" class="Coordinates" type="number" name="x1Field" value="0" min="0"></td>
                </tr>
                <tr>
                    <td>Y1</td>
                    <td><input id="y1Field" class="Coordinates" type="number" name="y1Field" value="0" min="0"></td>
                </tr>
                <tr>
                    <td>X2</td>
                    <td><input id="x2Field" class="Coordinates" type="number" name="x2Field" value="0" min="0"></td>
                </tr>
                <tr>
                    <td>Y2</td>
                    <td><input id="y2Field" class="Coordinates" type="number" name="y2Field" value="0" min="0"></td>
                </tr>
            </table>
            <input type="submit" value="&#128190; Save (space)"> <input id="reset_button" type="button" value="&#8634; Reset (r)" onclick="reset_selection()"><br>
            <input id="last_button" type="button" value="&#8678; &#128190; Last (a)">
            <input id="back_button" type="button" value="&#8678; Back (s)"><br>
            <input id="skip_button" type="button" value="&#8680; Skip (d)">
            <input id="next_button" type="button" value="&#128190; &#8680; Next (f)">
        </form>
    </div>
{% endblock %}
