{% extends 'images/base.html' %}
{% load static %}
{% block taggerimports %}
<script type="text/javascript" src="{% static 'scripts/verify_scripts.js' %}"></script>
{% endblock %}
{% block individual_script %}
    function init_navigationbuttons() {
        {% if next_annotation %}
        $('#next_button').click(function(){
            $('#verification_form').attr('action', '{% url 'images_verifyview' next_annotation.id %}');
            $('#verification_form').submit();
        });
        {% else %}
        $('#next_button').attr('disabled', 'true');
        $('#next_unverified_button').attr('disabled', 'true');
        {% endif %}

        {% if last_annotation %}
        $('#last_button').click(function(){
            $('#verification_form').attr('action', '{% url 'images_verifyview' last_annotation.id %}');
            $('#verification_form').submit();
        });
        {% else %}
        $('#last_button').attr('disabled', 'true');
        $('#last_unverified_button').attr('disabled', 'true');
        {% endif %}

        {% if next_unverified_annotation %}
        $('#next_unverified_button').click(function(){
            $('#verification_form').attr('action', '{% url 'images_verifyview' next_unverified_annotation.id %}');
            $('#verification_form').submit();
        });
        $('#accept_button').click(function(){
          $('#state').attr('value', 'accept');
          $('#verification_form').attr('action', '{% url 'images_verifyview' next_unverified_annotation.id %}');
          $('#verification_form').submit();
        });

        $('#reject_button').click(function(){
          $('#state').attr('value', 'reject');
          $('#verification_form').attr('action', '{% url 'images_verifyview' next_unverified_annotation.id %}');
          $('#verification_form').submit();
        });
        {% else %}
        $('#last_unverified_button').attr('disabled', 'true');
        $('#accept_button').click(function(){
          $('#state').attr('value', 'accept');
          $('#verification_form').attr('action', '{% url 'images_verifyview' first_annotation.id %}');
          $('#verification_form').submit();
        });

        $('#reject_button').click(function(){
          $('#state').attr('value', 'reject');
          $('#verification_form').attr('action', '{% url 'images_verifyview' first_annotation.id %}');
          $('#verification_form').submit();
        });
        {% endif %}

        {% if last_unverified_annotation %}
        $('#last_unverified_button').click(function(){
            $('#verification_form').attr('action', '{% url 'images_verifyview' last_unverified_annotation.id %}');
            $('#verification_form').submit();
        });
        {% else %}
        $('#last_unverified_button').attr('disabled', 'true');
        {% endif %}
        $('#edit_button').click(function(){window.location.href='{% url 'images_tageditview' annotation.id %}'});
    }



{% endblock %}
{% block bodyblock %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="{% url 'images_annotationmanageview' image.image_set.id %}"><u><h3 class="panel-title">{{image.image_set.name}}</h3></u></a>
                </div>
                <div class="panel-body">
                    {% for set_annotation in set_annotations %}
                        {% if set_annotation.id == annotation.id %}
                            {{ set_annotation.image.name }}: <b id="selected_annotation_row">{{annotation.content}}</b><br>
                        {% else %}
                            {{ set_annotation.image.name }}: <a href="{% url 'images_verifyview' set_annotation.id %}">{{set_annotation.content}}</a><br>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="wrapper">
                <img id="picture" src="{% url 'images_imageview' image.id %}" alt="Picture {{image.name}} not found!" width="100%" data-x="{{ annotation_x }}" data-y="{{ annotation_y }}" data-width="{{ width }}" data-height="{{ height }}"></br>
                <div id="boundingBox"></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form id='verification_form' enctype="multipart/form-data" method="post" action="">
                        {% csrf_token %}
                        <input type='hidden' id='state' name='state' value='blank'>
                        <input type='hidden' id='annotation' name='annotation' value='{{ annotation.id }}'>
                        <input type='button' id='accept_button' value='YAY'>
                        <input type='button' id='reject_button' value='NAY'>
                        <input type='button' id='edit_button' value='Edit'>
                        <input type='button' id='last_unverified_button' value='Last unverified'>
                        <input type='button' id='last_button' value='Last'>
                        <input type='button' id='next_button' value='Next'>
                        <input type='button' id='next_unverified_button' value='Next unverified'>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
