coreapi
drf-yasg
Django<3.0
djangorestframework
djangorestframework-camel-case
django-widget-tweaks
fasteners
Pillow
psycopg2-binary
django-registration
django-friendly-tag-loader
fs
django-configurations
